force-app/main/default/flows/Configure_Quote_Benefits.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_Quote_Line</name>
        <label>Navigate to Quote Line</label>
        <locationX>176</locationX>
        <locationY>2726</locationY>
        <actionName>c:navigatetorecord_fa</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>QuoteLineItem</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>context_record_id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Quote_Line_For_Update</name>
        <label>Assign Quote Line For Update</label>
        <locationX>704</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Each_Quote_Line_Benefit.Attribute_Value_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Updates.Attribute_Value_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Each_Quote_Line_Benefit.In_Network_Display_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Updates.In_Network_Display_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Each_Quote_Line_Benefit.Limits_and_Exceptions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Updates.In_Network_Display_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Each_Quote_Line_Benefit.Out_of_Network_Display_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Updates.Out_Of_Network_Display_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Updated_Quote_Line_Benefits</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Updated_Quote_Line_Benefits</name>
        <label>Assign to Updated Quote Line Benefits</label>
        <locationX>704</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>updated_quote_line_benefits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Each_Quote_Line_Benefit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Each_Quote_Line_Benefit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_1</name>
        <label>Set Stage to 1</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Configure_Benefits</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Quote_Line_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Stage_2</name>
        <label>Set to Stage 2</label>
        <locationX>176</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirm_Changes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_Benefit_Changes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Quote_Line_Benefit_Matches_Current_Plan_Benefit</name>
        <label>Quote Line Benefit Matches Current Plan Benefit</label>
        <locationX>836</locationX>
        <locationY>1958</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Each_Quote_Line_Benefit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Is_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Updates.Attribute_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Through_Each_Quote_Line_Benefit.Attribute_Category__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Updates.Attribute_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Through_Each_Quote_Line_Benefit.Attribute_Code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Updates.Component_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Through_Each_Quote_Line_Benefit.Component_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quote_Line_For_Update</targetReference>
            </connector>
            <label>Is Match</label>
        </rules>
    </decisions>
    <interviewLabel>Configure Quote Benefits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Configure Quote Benefits</label>
    <loops>
        <name>Loop_Through_Each_Quote_Line_Benefit</name>
        <label>Loop Through Each Quote Line Benefit</label>
        <locationX>616</locationX>
        <locationY>1838</locationY>
        <collectionReference>quote_line_benefits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Quote_Line_Benefit_Matches_Current_Plan_Benefit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Updates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Updates</name>
        <label>Loop Through Updates</label>
        <locationX>176</locationX>
        <locationY>1718</locationY>
        <collectionReference>updated_marketing_plan_benefit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Through_Each_Quote_Line_Benefit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quote_Line_Benefits</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Fetch_All_Benefits</name>
        <label>Fetch All Benefits</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Marketing_Plan_Benefits</targetReference>
        </connector>
        <object>Attribute__c</object>
        <outputReference>attributes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Attribute_Name__c</queriedFields>
        <queriedFields>Attribute_Display_Name__c</queriedFields>
        <queriedFields>Attribute_Category__c</queriedFields>
        <queriedFields>Attribute_Long_Code__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Allowed_Benefits_For_Plan_Family</name>
        <label>Fetch Allowed Benefits Values For Plan Family</label>
        <locationX>176</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Configure_Plan_Benefits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plan_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>plan_family.Id</elementReference>
            </value>
        </filters>
        <object>Attribute_Value__c</object>
        <outputReference>allowed_attribute_values</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Attribute__c</queriedFields>
        <queriedFields>Attribute_Category__c</queriedFields>
        <queriedFields>Attribute_Code__c</queriedFields>
        <queriedFields>Attribute_Name__c</queriedFields>
        <queriedFields>Attribute_Value__c</queriedFields>
        <queriedFields>Limits_And_Exceptions__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>In_Network_Display_Value__c</queriedFields>
        <queriedFields>Out_Of_Network_Display_Value__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Component_Benefits</name>
        <label>Fetch Component Benefits</label>
        <locationX>176</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Allowed_Benefits_For_Plan_Family</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plan_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>plan_family.Id</elementReference>
            </value>
        </filters>
        <object>Component_Attribute__c</object>
        <outputReference>plan_component_attributes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Attribute__c</queriedFields>
        <queriedFields>Attribute_Category__c</queriedFields>
        <queriedFields>Attribute_Display_Name__c</queriedFields>
        <queriedFields>Attribute_Long_Code__c</queriedFields>
        <queriedFields>Attribute_Name__c</queriedFields>
        <queriedFields>Is_Key_Benefit__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Plan_Component__c</queriedFields>
        <queriedFields>Plan_Family__c</queriedFields>
        <queriedFields>Attribute_Code__c</queriedFields>
        <queriedFields>Component_Name__c</queriedFields>
        <queriedFields>Component_Type__c</queriedFields>
        <sortField>Is_Key_Benefit__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Existing_Quote_Line_Benefits</name>
        <label>Fetch Existing Quote Line Benefits</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Marketing_Plan_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Quote_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quote_line_item.Id</elementReference>
            </value>
        </filters>
        <object>Quote_Line_Benefit__c</object>
        <outputReference>quote_line_benefits</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Attribute_Category__c</queriedFields>
        <queriedFields>Attribute_Code__c</queriedFields>
        <queriedFields>Attribute_Display_Name__c</queriedFields>
        <queriedFields>Attribute_Long_Code__c</queriedFields>
        <queriedFields>Attribute_Value_Amount__c</queriedFields>
        <queriedFields>Component_Name__c</queriedFields>
        <queriedFields>Component_Type__c</queriedFields>
        <queriedFields>In_Network_Display_Name__c</queriedFields>
        <queriedFields>Is_Base_Component_Benefit__c</queriedFields>
        <queriedFields>Is_Key_Benefit__c</queriedFields>
        <queriedFields>Is_Rate_Impacting__c</queriedFields>
        <queriedFields>Limits_and_Exceptions__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Out_of_Network_Display_Value__c</queriedFields>
        <queriedFields>Parent_Quote_Line__c</queriedFields>
        <queriedFields>Plan_Name__c</queriedFields>
        <queriedFields>Pr_Quote_Id__c</queriedFields>
        <queriedFields>CPQ_Disp_Sort__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Marketing_Plan_Benefits</name>
        <label>Fetch Marketing Plan Benefits</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Package_Framework_Components</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Marketing_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>marketing_plan.Id</elementReference>
            </value>
        </filters>
        <object>Marketing_Plan_Benefit__c</object>
        <outputReference>marketing_plan_benefit</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Attribute_Category__c</queriedFields>
        <queriedFields>Attribute_Display_Name__c</queriedFields>
        <queriedFields>Attribute_Id__c</queriedFields>
        <queriedFields>Attribute_Long_Code__c</queriedFields>
        <queriedFields>Attribute_Value__c</queriedFields>
        <queriedFields>Component_Name__c</queriedFields>
        <queriedFields>Component_Type__c</queriedFields>
        <queriedFields>In_Network_Display_Name__c</queriedFields>
        <queriedFields>Out_Of_Network_Display_Value__c</queriedFields>
        <queriedFields>Plan_Template_Component__c</queriedFields>
        <queriedFields>Marketing_Plan__c</queriedFields>
        <queriedFields>Plan_Family__c</queriedFields>
        <queriedFields>Attribute_Code__c</queriedFields>
        <queriedFields>Attribute_Value_Amount__c</queriedFields>
        <queriedFields>Is_Key_Benefit__c</queriedFields>
        <queriedFields>Is_Base_Component_Benefit__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Marketing_Plan_Details</name>
        <label>Fetch Marketing Plan Details</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Plan_Family_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quote_line_item.Marketing_Plan__c</elementReference>
            </value>
        </filters>
        <object>Marketing_Plan__c</object>
        <outputReference>marketing_plan</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Base_Rate_Variant__c</queriedFields>
        <queriedFields>Close_Date__c</queriedFields>
        <queriedFields>Discontinued_Date__c</queriedFields>
        <queriedFields>Effective_Date__c</queriedFields>
        <queriedFields>Exchange_Value__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Plan_Component_Code__c</queriedFields>
        <queriedFields>Plan_Family__c</queriedFields>
        <queriedFields>Plan_Family_Name__c</queriedFields>
        <queriedFields>Plan_Name__c</queriedFields>
        <queriedFields>Plan_Template__c</queriedFields>
        <queriedFields>Plan_Type__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Termination_Date__c</queriedFields>
        <queriedFields>Version__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Package_Framework_Components</name>
        <label>Fetch Package Framework Components</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Component_Benefits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plan_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>marketing_plan.Plan_Template__c</elementReference>
            </value>
        </filters>
        <object>Plan_Template_Component__c</object>
        <outputReference>plan_template_components</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Component_Name__c</queriedFields>
        <queriedFields>Component_Type__c</queriedFields>
        <queriedFields>Is_Base_Component__c</queriedFields>
        <queriedFields>Plan_Template__c</queriedFields>
        <queriedFields>Plan_Component__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Plan_Family_Details</name>
        <label>Fetch Plan Family Details</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_All_Benefits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>marketing_plan.Plan_Family__c</elementReference>
            </value>
        </filters>
        <object>Plan_Family__c</object>
        <outputReference>plan_family</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Age_Off_Criteria__c</queriedFields>
        <queriedFields>Brand__c</queriedFields>
        <queriedFields>Business_Type__c</queriedFields>
        <queriedFields>Closed_Date__c</queriedFields>
        <queriedFields>Covered_Members__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Discontinued_Date__c</queriedFields>
        <queriedFields>Effective_Date__c</queriedFields>
        <queriedFields>Line_Of_Business__c</queriedFields>
        <queriedFields>Parent_Plan_Family__c</queriedFields>
        <queriedFields>Plan_Cycle__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Version__c</queriedFields>
        <queriedFields>Termination_Date__c</queriedFields>
        <queriedFields>Financial_Category__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Quote_Line_Details</name>
        <label>Fetch Quote Line Details</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Existing_Quote_Line_Benefits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>context_record_id</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>quote_line_item</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Effective_Date__c</queriedFields>
        <queriedFields>LineNumber</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>Marketing_Plan__c</queriedFields>
        <queriedFields>Marketing_Plan_Name__c</queriedFields>
        <queriedFields>Marketing_Plan_Package_Code__c</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>OpportunityLineItemId</queriedFields>
        <queriedFields>Discount</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Purchaser_Plan__c</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>QuoteId</queriedFields>
        <queriedFields>ServiceDate</queriedFields>
        <queriedFields>SortOrder</queriedFields>
        <queriedFields>Subscriber__c</queriedFields>
        <queriedFields>Subscriber_And_Child__c</queriedFields>
        <queriedFields>Subscriber_And_Children__c</queriedFields>
        <queriedFields>Subscriber_And_Family__c</queriedFields>
        <queriedFields>Subscriber_And_Spouse__c</queriedFields>
        <queriedFields>Tier_Code__c</queriedFields>
        <queriedFields>Termination_Date__c</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_Line_Benefits</name>
        <label>Update Quote Line Benefits</label>
        <locationX>176</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>Navigate_to_Quote_Line</targetReference>
        </connector>
        <inputReference>updated_quote_line_benefits</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Configure_Plan_Benefits</name>
        <label>Configure Plan Benefits</label>
        <locationX>176</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_to_Stage_2</targetReference>
        </connector>
        <fields>
            <name>flowstages_configure_plan_benefits</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>marketingplanbenefitlist_fc</name>
            <extensionName>c:marketingplanbenefitlist_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Attribute_Value__c</name>
                <value>
                    <elementReference>allowed_attribute_values</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Attribute__c</name>
                <value>
                    <elementReference>attributes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Plan_Template_Component__c</name>
                <value>
                    <elementReference>plan_template_components</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Marketing_Plan__c</name>
                <value>
                    <elementReference>marketing_plan</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Marketing_Plan_Benefit__c</name>
                <value>
                    <elementReference>marketing_plan_benefit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Component_Attribute__c</name>
                <value>
                    <elementReference>plan_component_attributes</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>marketing_plan_benefit</assignToReference>
                <name>Marketing_Plan_Benefit__c</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Benefit_Changes</name>
        <label>Confirm Plan Changes</label>
        <locationX>176</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Through_Updates</targetReference>
        </connector>
        <fields>
            <name>flowstages_confirmation</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>quotelinebenefitchangeslist_fc</name>
            <extensionName>c:quotelinebenefitchangeslist_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Marketing_Plan_Benefit__c</name>
                <value>
                    <elementReference>marketing_plan_benefit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Marketing_Plan__c</name>
                <value>
                    <elementReference>marketing_plan</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>QuoteLineItem</name>
                <value>
                    <elementReference>quote_line_item</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>delete_quotelinebenefit</assignToReference>
                <name>deleteRecords</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>deleted_marketing_plan_benefit</assignToReference>
                <name>deletePlanBenefits</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>created_marketing_plan_benefit</assignToReference>
                <name>createPlanBenefits</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>updated_marketing_plan_benefit</assignToReference>
                <name>updatePlanBenefits</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Configure_Benefits</name>
        <isActive>true</isActive>
        <label>Configure Benefits</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Confirm_Changes</name>
        <isActive>true</isActive>
        <label>Confirm Changes</label>
        <stageOrder>2</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Stage_to_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>allowed_attribute_values</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribute_Value__c</objectType>
    </variables>
    <variables>
        <name>attributes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribute__c</objectType>
    </variables>
    <variables>
        <name>context_record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>created_marketing_plan_benefit</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Plan_Benefit__c</objectType>
    </variables>
    <variables>
        <name>created_quote_line_benefits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Line_Benefit__c</objectType>
    </variables>
    <variables>
        <name>delete_quotelinebenefit</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>deleted_marketing_plan_benefit</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Plan_Benefit__c</objectType>
    </variables>
    <variables>
        <name>deleted_quote_line_benefits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Line_Benefit__c</objectType>
    </variables>
    <variables>
        <name>marketing_plan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Plan__c</objectType>
    </variables>
    <variables>
        <name>marketing_plan_benefit</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Plan_Benefit__c</objectType>
    </variables>
    <variables>
        <name>plan_component_attributes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Component_Attribute__c</objectType>
    </variables>
    <variables>
        <name>plan_family</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plan_Family__c</objectType>
    </variables>
    <variables>
        <name>plan_template_components</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plan_Template_Component__c</objectType>
    </variables>
    <variables>
        <name>quote_line_benefits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Line_Benefit__c</objectType>
    </variables>
    <variables>
        <name>quote_line_item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>updated_marketing_plan_benefit</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Plan_Benefit__c</objectType>
    </variables>
    <variables>
        <name>updated_quote_line_benefits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Line_Benefit__c</objectType>
    </variables>
</Flow>
