force-app/main/default/flows/Configure_Plans.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_Quote_Line_Benefits</name>
        <label>Copy Quote Line Benefits</label>
        <locationX>176</locationX>
        <locationY>1574</locationY>
        <actionName>flow_controller</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigate_To_Quote</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>quotes</name>
            <value>
                <elementReference>quote_record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Navigate_To_Quote</name>
        <label>Navigate To Quote</label>
        <locationX>176</locationX>
        <locationY>1694</locationY>
        <actionName>c:be_navigateToRecordFC</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>context_record_id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>To Get around assignment bug</description>
        <name>Append_Last_Quote_Line_to_Record_Set</name>
        <label>Append Last Quote Line to Record Set</label>
        <locationX>176</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>quote_line_recordset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>quote_line</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_to_Quote_Line_Record_Set</name>
        <label>Append to Quote Line Record Set</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>quote_line_recordset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>quote_line</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Map_Marketing_Plan_to_Quote_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Marketing_Plan_to_Quote_Line_Item</name>
        <label>Map Marketing Plan to Quote Line Item</label>
        <locationX>264</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>quote_line.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_line.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pricebookentryid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_line.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_line.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quote_record.Effective_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_line.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>context_record_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_line.Marketing_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Marketing_Plan.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_line.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Marketing_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Assignment_to_Stage_2</name>
        <label>Set Assignment to Stage 2</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Configure_Plans</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>select_plans_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_1</name>
        <label>Set Stage to 1</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Review_Current_Plans</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Current_Plan_Details</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>pricebookentryid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01u4x000000kY3rAAE</stringValue>
        </value>
    </constants>
    <constants>
        <description>Default Pricebook Id</description>
        <name>pricebookid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01s4x000000wHCrAAM</stringValue>
        </value>
    </constants>
    <constants>
        <description>defaultproductid</description>
        <name>productid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01t4x000000peQXAAY</stringValue>
        </value>
    </constants>
    <interviewLabel>Configure Plans {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Configure Plans</label>
    <loops>
        <description>Loop Through for each marketing plan</description>
        <name>For_Each_Marketing_Plan</name>
        <label>For Each Marketing Plan</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <collectionReference>selected_marketing_plan_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Append_to_Quote_Line_Record_Set</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Append_Last_Quote_Line_to_Record_Set</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote_Lines</name>
        <label>Create Quote Lines</label>
        <locationX>176</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Copy_Quote_Line_Benefits</targetReference>
        </connector>
        <inputReference>quote_line_recordset</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Context_Quote_Details</name>
        <label>Fetch Context Quote Details</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Stage_to_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>context_record_id</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>quote_record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Effective_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Current_Plan_Details</name>
        <label>Fetch Current Plan Details</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>current_stages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>context_record_id</elementReference>
            </value>
        </filters>
        <object>Competitor_Plan_Information__c</object>
        <outputReference>Current_Plan_Information</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Carrier_Name__c</queriedFields>
        <queriedFields>Customer_Account__c</queriedFields>
        <queriedFields>Deductible__c</queriedFields>
        <queriedFields>DME__c</queriedFields>
        <queriedFields>Drug_Option__c</queriedFields>
        <queriedFields>Emergency_Room_Copay__c</queriedFields>
        <queriedFields>Family_Incentives__c</queriedFields>
        <queriedFields>Family_Medical__c</queriedFields>
        <queriedFields>Family_Medical_Management__c</queriedFields>
        <queriedFields>Family_Prescription_Drug__c</queriedFields>
        <queriedFields>Family_Total__c</queriedFields>
        <queriedFields>HDHP_Option__c</queriedFields>
        <queriedFields>Inpatient_Copay__c</queriedFields>
        <queriedFields>Max_Dependent_Age__c</queriedFields>
        <queriedFields>Medical_Equipment_Rider__c</queriedFields>
        <queriedFields>Plan_Name__c</queriedFields>
        <queriedFields>Plan_Type__c</queriedFields>
        <queriedFields>Product_Category__c</queriedFields>
        <queriedFields>Quote__c</queriedFields>
        <queriedFields>Rate_Effective_Date__c</queriedFields>
        <queriedFields>Rate_Termination_Date__c</queriedFields>
        <queriedFields>Subscriber_Children_Incentives__c</queriedFields>
        <queriedFields>Subscriber_Children_Medical__c</queriedFields>
        <queriedFields>Subscriber_Children_Medical_Management__c</queriedFields>
        <queriedFields>Subscriber_Children_Prescription_Drug__c</queriedFields>
        <queriedFields>Subscriber_Children_Total__c</queriedFields>
        <queriedFields>Subscriber_Only_Incentives__c</queriedFields>
        <queriedFields>Subscriber_Only_Medical__c</queriedFields>
        <queriedFields>Subscriber_Only_Medical_Management__c</queriedFields>
        <queriedFields>Subscriber_Only_Prescription_Drug__c</queriedFields>
        <queriedFields>Subscriber_Only_Total__c</queriedFields>
        <queriedFields>Subscriber_Spouse_Incentives__c</queriedFields>
        <queriedFields>Subscriber_Spouse_Medical__c</queriedFields>
        <queriedFields>Subscriber_Spouse_Medical_Management__c</queriedFields>
        <queriedFields>Subscriber_Spouse_Prescription_Drug__c</queriedFields>
        <queriedFields>Subscriber_Spouse_Total__c</queriedFields>
        <queriedFields>Tier__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>current_stages</name>
        <label>current_stages</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Assignment_to_Stage_2</targetReference>
        </connector>
        <fields>
            <name>flowstages_Current_Plans</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>competitorplanlist_fc</name>
            <extensionName>c:competitorplanlist_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>competitorPlanInformation</name>
                <value>
                    <elementReference>Current_Plan_Information</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quote</name>
                <value>
                    <elementReference>quote_record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>select_plans_screen</name>
        <label>Select Plans</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>For_Each_Marketing_Plan</targetReference>
        </connector>
        <fields>
            <name>flowstages_select_plans_screen</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Groupshoppingplan_fc</name>
            <extensionName>c:groupshoppingplan_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selected_marketing_plan_records</assignToReference>
                <name>selectedMarketingPlans</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedMarketingPlanIds</assignToReference>
                <name>selectedMarketingPlanIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <description>Select plans for quoting</description>
        <name>Configure_Plans</name>
        <isActive>true</isActive>
        <label>Configure Plans</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <description>First Chapter for the quote to capture basic quote information</description>
        <name>Review_Current_Plans</name>
        <isActive>true</isActive>
        <label>Review Current Plans</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Context_Quote_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>List of available marketing plans for quoting</description>
        <name>available_marketing_plan_records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Plan__c</objectType>
    </variables>
    <variables>
        <name>context_record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Current_Plan_Information</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Competitor_Plan_Information__c</objectType>
    </variables>
    <variables>
        <name>quote_contact_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Coverage effective date for the quote</description>
        <name>quote_effective_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Single quote line record</description>
        <name>quote_line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <description>Quote Lines created or modified during the flow</description>
        <name>quote_line_recordset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <description>Context Quote Record</description>
        <name>quote_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <description>List of selected marketing plan records</description>
        <name>selected_marketing_plan_records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Plan__c</objectType>
    </variables>
    <variables>
        <description>List of String containing the selected marketing plan ids for quoting</description>
        <name>selectedMarketingPlanIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
