force-app/main/default/flows/Create_Group_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_Quote_Line_Benefits</name>
        <label>Copy Quote Line Benefits</label>
        <locationX>182</locationX>
        <locationY>2630</locationY>
        <actionName>flow_controller</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigate_To_Quote</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>quotes</name>
            <value>
                <elementReference>quote_record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Navigate_To_Quote</name>
        <label>Navigate To Quote</label>
        <locationX>182</locationX>
        <locationY>2750</locationY>
        <actionName>c:be_navigateToRecordFC</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>quote_record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>To Get around assignment bug</description>
        <name>Append_Last_Quote_Line_to_Record_Set</name>
        <label>Append Last Quote Line to Record Set</label>
        <locationX>182</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>quote_line_recordset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>quote_line</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_to_Quote_Line_Record_Set</name>
        <label>Append to Quote Line Record Set</label>
        <locationX>270</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>quote_line_recordset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>quote_line</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Map_Marketing_Plan_to_Quote_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Marketing_Plan_to_Quote_Line_Item</name>
        <label>Map Marketing Plan to Quote Line Item</label>
        <locationX>270</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>quote_line.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_line.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pricebookentryid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_line.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_line.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quote_effective_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_line.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quote_record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_line.Marketing_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Marketing_Plan.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_line.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Marketing_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Opporunity</name>
        <label>Set Default Opporunity</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>opportunity_record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>account_record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity_record.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quote_effective_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity_record.Financial_Arrangement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Community Rated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity_record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity_record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!account_record.Name} NewBusiness  {!quote_effective_date}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_Values</name>
        <label>Set Quote Values</label>
        <locationX>182</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>quote_record.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quote_effective_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_record.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunity_record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Business Quote {!account_record.Name} {!quote_effective_date}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pricebookid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_record.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quote_contact_record.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quote_contact_record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quote_contact_record.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_record.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>account_record.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_record.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>account_record.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_record.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>account_record.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_record.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>account_record.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_record.BillingName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quote_contact_record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_1</name>
        <label>Set Stage to 1</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>basics</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Context_Account_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_2</name>
        <label>Set Stage to 2</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>select_plans</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Allowed_Attribute_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_3</name>
        <label>Set Stage to 3</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>create_quote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Opportunity_If_Present</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>pricebookentryid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01u4x000000kY3rAAE</stringValue>
        </value>
    </constants>
    <constants>
        <description>Default Pricebook Id</description>
        <name>pricebookid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01s4x000000wHCrAAM</stringValue>
        </value>
    </constants>
    <constants>
        <description>defaultproductid</description>
        <name>productid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01t4x000000peQXAAY</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_an_Opportunity_Present</name>
        <label>Is an Opportunity Present?</label>
        <locationX>182</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Fetch_Contact_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunity Exists</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunity_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_Opporunity</targetReference>
            </connector>
            <label>Opportunity Does Not Exist</label>
        </rules>
    </decisions>
    <description>Flow to Create a Small Group or LG 43 Quote</description>
    <interviewLabel>Create Group Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Group Quote</label>
    <loops>
        <description>Loop Through for each marketing plan</description>
        <name>For_Each_Marketing_Plan</name>
        <label>For Each Marketing Plan</label>
        <locationX>182</locationX>
        <locationY>1934</locationY>
        <collectionReference>selected_marketing_plan_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Append_to_Quote_Line_Record_Set</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Append_Last_Quote_Line_to_Record_Set</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Fetch_Contact_Details</targetReference>
        </connector>
        <inputReference>opportunity_record</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Lines</name>
        <label>Create Quote Lines</label>
        <locationX>182</locationX>
        <locationY>2510</locationY>
        <connector>
            <targetReference>Copy_Quote_Line_Benefits</targetReference>
        </connector>
        <inputReference>quote_line_recordset</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Record</name>
        <label>Create Quote Record</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>For_Each_Marketing_Plan</targetReference>
        </connector>
        <inputReference>quote_record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Allowed_Attribute_Values</name>
        <label>Fetch Allowed Attribute Values</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>select_plans_screen</targetReference>
        </connector>
        <object>Attribute_Value__c</object>
        <outputReference>allowed_attribute_values</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Attribute__c</queriedFields>
        <queriedFields>Attribute_Category__c</queriedFields>
        <queriedFields>Attribute_Code__c</queriedFields>
        <queriedFields>Attribute_Name__c</queriedFields>
        <queriedFields>Attribute_Value__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>In_Network_Display_Value__c</queriedFields>
        <queriedFields>Out_Of_Network_Display_Value__c</queriedFields>
        <queriedFields>Limits_And_Exceptions_Text_Area__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Contact_Details</name>
        <label>Fetch Contact Details</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Quote_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quote_contact_id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>quote_contact_record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Context_Account_Record</name>
        <label>Fetch Context Account Record</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>basics_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>context_record_id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>account_record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>Effective_Date__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>NumberOfEmployees</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Type</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Check if an open opportunity exists for the Effective Date</description>
        <name>Fetch_Opportunity_If_Present</name>
        <label>Fetch Opportunity If Present</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_an_Opportunity_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>account_record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quote_effective_date</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>opportunity_record</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Screen component for collecting basic group information</description>
        <name>basics_screen</name>
        <label>Basics</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Stage_to_2</targetReference>
        </connector>
        <fields>
            <name>flowstages_basics_screen</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>groupquotebasics_fc</name>
            <extensionName>c:groupquotebasics_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>account_record</name>
                <value>
                    <elementReference>account_record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contact_record_id</name>
                <value>
                    <elementReference>quote_contact_id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quote_effective_date</name>
                <value>
                    <elementReference>quote_effective_date</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>account_record</assignToReference>
                <name>account_record</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>quote_effective_date</assignToReference>
                <name>quote_effective_date</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>quote_contact_id</assignToReference>
                <name>contact_record_id</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>select_plans_screen</name>
        <label>Select Plans</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Stage_to_3</targetReference>
        </connector>
        <fields>
            <name>flowstages_select_plans_screen</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Groupshoppingplan_fc</name>
            <extensionName>c:groupshoppingplan_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selected_marketing_plan_records</assignToReference>
                <name>selectedMarketingPlans</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedMarketingPlanIds</assignToReference>
                <name>selectedMarketingPlanIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <description>First Chapter for the quote to capture basic quote information</description>
        <name>basics</name>
        <isActive>true</isActive>
        <label>Basics</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <description>Generate quote and print Proposal</description>
        <name>create_quote</name>
        <isActive>true</isActive>
        <label>Create Quote</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <description>Select plans for quoting</description>
        <name>select_plans</name>
        <isActive>true</isActive>
        <label>Select Plans</label>
        <stageOrder>2</stageOrder>
    </stages>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Stage_to_1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Context Business Account for Quote</description>
        <name>account_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>allowed_attribute_values</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribute_Value__c</objectType>
    </variables>
    <variables>
        <description>List of available marketing plans for quoting</description>
        <name>available_marketing_plan_records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Plan__c</objectType>
    </variables>
    <variables>
        <name>context_record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Context Opportunity for Quote</description>
        <name>opportunity_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>quote_census_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Census__c</objectType>
    </variables>
    <variables>
        <name>quote_contact_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quote_contact_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Coverage effective date for the quote</description>
        <name>quote_effective_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Single quote line record</description>
        <name>quote_line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <description>Quote Lines created or modified during the flow</description>
        <name>quote_line_recordset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <description>Context Quote Record</description>
        <name>quote_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <description>List of selected marketing plan records</description>
        <name>selected_marketing_plan_records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Plan__c</objectType>
    </variables>
    <variables>
        <description>List of String containing the selected marketing plan ids for quoting</description>
        <name>selectedMarketingPlanIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
