force-app/main/default/flows/Create_Quote_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_Quote</name>
        <label>Navigate to Quote</label>
        <locationX>367</locationX>
        <locationY>932</locationY>
        <actionName>c:be_navigateToRecordFC</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>quote.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Append_New_Plan_to_Plan_List</name>
        <label>Append New Plan to Plan List</label>
        <locationX>1285</locationX>
        <locationY>469</locationY>
        <assignmentItems>
            <assignToReference>newPlanList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newPredefinedPlan</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Another_Plan_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_To_Group_Class</name>
        <label>Append To Group Class</label>
        <locationX>444</locationX>
        <locationY>730</locationY>
        <assignmentItems>
            <assignToReference>allGroupClasses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>groupClass</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Default_Classes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Eligiblity_Account</name>
        <label>Assign Eligiblity Account</label>
        <locationX>1697</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>eligibility.Customer_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eligibility.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eligibility.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quote.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eligiblity_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Stage_To_Proposal_Price_Quote</name>
        <label>Assign Opportunity Stage To Proposal/Price Quote</label>
        <locationX>665</locationX>
        <locationY>932</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Proposal/Price Quote</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_Status_to_Needs_Review</name>
        <label>Assign Quote Status to Needs Review</label>
        <locationX>2107</locationX>
        <locationY>771</locationY>
        <assignmentItems>
            <assignToReference>quote.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Needs Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_to_Eight</name>
        <label>Assign Stage to Eight</label>
        <locationX>887</locationX>
        <locationY>624</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Plan_Configuration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.ActiveStages</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Custom_Plan_Configuration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_to_Nine</name>
        <label>Assign Stage to Nine</label>
        <locationX>1749</locationX>
        <locationY>462</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Plan_Association</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Group_Classes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_to_Seven</name>
        <label>Assign Stage to Seven</label>
        <locationX>683</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Class_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Default_Classes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Default_To_Group_Class</name>
        <label>Map Default To Group Class</label>
        <locationX>218</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>groupClass.Class_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultEmployeeClass.Class_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>groupClass.Class_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultEmployeeClass.Class_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>groupClass.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultEmployeeClass.Class_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>groupClass.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quote.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Append_To_Group_Class</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reassign_Stage_to_Eight</name>
        <label>Reassign Stage to Eight</label>
        <locationX>1076</locationX>
        <locationY>469</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Plan_Configuration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.ActiveStages</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Append_New_Plan_to_Plan_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_Request_Detail</name>
        <label>Set Quote Request Detail</label>
        <locationX>1952</locationX>
        <locationY>125</locationY>
        <assignmentItems>
            <assignToReference>quote.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>primaryContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!account.Name} NB {!Opportunity.CloseDate}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Five</name>
        <label>Set Stage to Five</label>
        <locationX>1365</locationX>
        <locationY>299</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Claims_Experience</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Claims_Experience_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Four</name>
        <label>Set Stage to Four</label>
        <locationX>2175</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Census_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Census_Information_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_One</name>
        <label>Set Stage To One</label>
        <locationX>338</locationX>
        <locationY>123</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Group_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>groupinformation_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Six</name>
        <label>Set Stage to Six</label>
        <locationX>1016</locationX>
        <locationY>299</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Plan_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_Plan_Information_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Three</name>
        <label>Set Stage to Three</label>
        <locationX>1547</locationX>
        <locationY>125</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Selected_Opportunity_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Two</name>
        <label>Set Stage to Two</label>
        <locationX>845</locationX>
        <locationY>125</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agency_Selection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_Another_Plan_Decision</name>
        <label>Add Another Plan</label>
        <locationX>1496</locationX>
        <locationY>629</locationY>
        <defaultConnector>
            <targetReference>Assign_Stage_to_Nine</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>add_another_plan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_to_Eight</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Create a Quote Request for a Large Employer Group</description>
    <interviewLabel>Create Quote Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Quote Request</label>
    <loops>
        <name>Iterate_Default_Classes</name>
        <label>Iterate Default Classes</label>
        <locationX>450</locationX>
        <locationY>554</locationY>
        <assignNextValueToReference>defaultEmployeeClass</assignNextValueToReference>
        <collectionReference>defaultClassList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Map_Default_To_Group_Class</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Class_Information_Stage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote_Request</name>
        <label>Create Quote Request</label>
        <locationX>2174</locationX>
        <locationY>125</locationY>
        <connector>
            <targetReference>Set_Stage_to_Four</targetReference>
        </connector>
        <inputReference>quote</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Claim_History</name>
        <label>Insert Claim History</label>
        <locationX>1319</locationX>
        <locationY>931</locationY>
        <connector>
            <targetReference>Insert_Competitor_Information</targetReference>
        </connector>
        <inputReference>quoteRequestClaimHistory</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Competitor_Information</name>
        <label>Insert Competitor Information</label>
        <locationX>1153</locationX>
        <locationY>931</locationY>
        <connector>
            <targetReference>Insert_Proposed_Plans</targetReference>
        </connector>
        <inputReference>competitorPlanInformation</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Group_Classes</name>
        <label>Insert Group Classes</label>
        <locationX>2105</locationX>
        <locationY>463</locationY>
        <connector>
            <targetReference>Associate_Plans_Screen</targetReference>
        </connector>
        <inputReference>selectedGroupClasses</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Medical_Claim_Summary</name>
        <label>Insert Medical Claim Summary</label>
        <locationX>1642</locationX>
        <locationY>933</locationY>
        <connector>
            <targetReference>Insert_Rx_Claim_Summary</targetReference>
        </connector>
        <inputReference>medicalClaimSummary</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Proposed_Plans</name>
        <label>Insert Proposed Plans</label>
        <locationX>984</locationX>
        <locationY>931</locationY>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
        <inputReference>selectedClassPlans</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Quote_Census</name>
        <label>Insert Quote Census</label>
        <locationX>1971</locationX>
        <locationY>932</locationY>
        <connector>
            <targetReference>Insert_Medical_Claim_Summary</targetReference>
        </connector>
        <inputReference>quoteCensus</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Rx_Claim_Summary</name>
        <label>Insert Rx Claim Summary</label>
        <locationX>1471</locationX>
        <locationY>931</locationY>
        <connector>
            <targetReference>Insert_Claim_History</targetReference>
        </connector>
        <inputReference>rxClaimSummary</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Account_Information</name>
        <label>Fetch Account Information</label>
        <locationX>183</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Stage_To_One</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>context_record_id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountNumber</queriedFields>
        <queriedFields>AccountSource</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>AnnualRevenue</queriedFields>
        <queriedFields>Effective_Date__c</queriedFields>
        <queriedFields>Group_Category__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Legal_Entity_Name__c</queriedFields>
        <queriedFields>NumberOfEmployees</queriedFields>
        <queriedFields>NumberofLocations__c</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Rating_Zipcode__c</queriedFields>
        <queriedFields>Rating_City__c</queriedFields>
        <queriedFields>Rating_County__c</queriedFields>
        <queriedFields>Rating_Region__c</queriedFields>
        <queriedFields>Rating_State__c</queriedFields>
        <queriedFields>Sic</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>TIN_EIN__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Industry</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingAddress</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Default_Classes</name>
        <label>Fetch Default Classes</label>
        <locationX>443</locationX>
        <locationY>296</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Default_Classes</targetReference>
        </connector>
        <object>Employee_Classes__c</object>
        <outputReference>defaultClassList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Class_Description__c</queriedFields>
        <queriedFields>Class_ID__c</queriedFields>
        <queriedFields>Class_Type__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Eligibility</name>
        <label>Fetch Eligibility</label>
        <locationX>1833</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Eligiblity_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Eligibility__c</object>
        <outputReference>eligibility</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active_Enrolled_Employees__c</queriedFields>
        <queriedFields>Actual_Group_Participation__c</queriedFields>
        <queriedFields>Average_Total_Employees_for_prior_year__c</queriedFields>
        <queriedFields>Cobra_Type__c</queriedFields>
        <queriedFields>Customer_Account__c</queriedFields>
        <queriedFields>Eligible_Emp_w_coverage__c</queriedFields>
        <queriedFields>Eligible_Emp_wo_coverage__c</queriedFields>
        <queriedFields>Employees_First_Day__c</queriedFields>
        <queriedFields>Group_Employed_20_Emp__c</queriedFields>
        <queriedFields>Group_has_1099_Employees__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Number_Cobra_Continuants__c</queriedFields>
        <queriedFields>Number_Employees_RT6__c</queriedFields>
        <queriedFields>Number_Employees_WP__c</queriedFields>
        <queriedFields>Participation_Requirement__c</queriedFields>
        <queriedFields>Participation_Requirement_Percent__c</queriedFields>
        <queriedFields>Quote__c</queriedFields>
        <queriedFields>Response_Channel__c</queriedFields>
        <queriedFields>TEFRA_DEFRA_Medicare__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Total_Eligible_Employees__c</queriedFields>
        <queriedFields>Total_Employees__c</queriedFields>
        <queriedFields>Total_PartTime__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Quote_Information</name>
        <label>Fetch Quote Information</label>
        <locationX>674</locationX>
        <locationY>124</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Stage_to_Two</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quote.Id</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>quote</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Effective_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Selected_Opportunity_Detail</name>
        <label>Fetch Selected Opportunity Detail</label>
        <locationX>1749</locationX>
        <locationY>125</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Quote_Request_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quote.OpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Opportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>DeliveryInstallationStatus__c</queriedFields>
        <queriedFields>StageName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>2108</locationX>
        <locationY>933</locationY>
        <connector>
            <targetReference>Insert_Quote_Census</targetReference>
        </connector>
        <inputReference>account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Eligibility_Information</name>
        <label>Update Eligibility Information</label>
        <locationX>1794</locationX>
        <locationY>832</locationY>
        <connector>
            <targetReference>Insert_Medical_Claim_Summary</targetReference>
        </connector>
        <inputReference>eligibility</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>510</locationX>
        <locationY>932</locationY>
        <connector>
            <targetReference>Navigate_to_Quote</targetReference>
        </connector>
        <inputReference>Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>822</locationX>
        <locationY>932</locationY>
        <connector>
            <targetReference>Assign_Opportunity_Stage_To_Proposal_Price_Quote</targetReference>
        </connector>
        <inputReference>quote</inputReference>
    </recordUpdates>
    <screens>
        <name>Account_Team_Information</name>
        <label>Account Team Information</label>
        <locationX>1343</locationX>
        <locationY>123</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Stage_to_Three</targetReference>
        </connector>
        <fields>
            <name>flowstages_Account_Team_Information</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>accountteamdetail_fc</name>
            <extensionName>c:accountteamdetail_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>account</name>
                <value>
                    <elementReference>account</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>account</assignToReference>
                <name>account</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountteammembers</assignToReference>
                <name>accountteammembers</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Another_Plan_Screen</name>
        <label>Add Another Plan</label>
        <locationX>1504</locationX>
        <locationY>470</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Another_Plan_Decision</targetReference>
        </connector>
        <fields>
            <name>flowstages_Plan_Template_Selection</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>add_another_plan_toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add Another Plan</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>add_another_plan</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>add_another_plan</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Agency_Selection</name>
        <label>Agency Selection</label>
        <locationX>1011</locationX>
        <locationY>125</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Account_Contacts</targetReference>
        </connector>
        <fields>
            <name>flowstages_Agency_Selection</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>accountagencylist_fc</name>
            <extensionName>c:accountagencylist_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>account</name>
                <value>
                    <elementReference>account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryAgencyId</name>
                <value>
                    <elementReference>primaryAgencyId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryAgentId</name>
                <value>
                    <elementReference>primaryAgentId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>account</assignToReference>
                <name>account</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>primaryAgencyId</assignToReference>
                <name>primaryAgencyId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>primaryAgentId</assignToReference>
                <name>primaryAgentId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Associate_Plans_Screen</name>
        <label>Associate Plans</label>
        <locationX>2107</locationX>
        <locationY>607</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Quote_Status_to_Needs_Review</targetReference>
        </connector>
        <fields>
            <name>flowstages_Associate_Plans_Screen</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>classplanassociationlist_fc</name>
            <extensionName>c:classplanassociationlist_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>account</name>
                <value>
                    <elementReference>account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableFields</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>groupClassInformation</name>
                <value>
                    <elementReference>selectedGroupClasses</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>groupPlans</name>
                <value>
                    <elementReference>newPlanList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quote</name>
                <value>
                    <elementReference>quote</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedClassPlans</assignToReference>
                <name>selectedClassPlans</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Census_Information_Screen</name>
        <label>Census Information</label>
        <locationX>1997</locationX>
        <locationY>300</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fetch_Eligibility</targetReference>
        </connector>
        <fields>
            <name>flowstages_Census_Information_Screen</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>accountquotecensuslist_fc</name>
            <extensionName>c:accountquotecensuslist_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>quote</name>
                <value>
                    <elementReference>quote</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quotecensus</name>
                <value>
                    <elementReference>quoteCensus</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>quote</assignToReference>
                <name>quote</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>quoteCensus</assignToReference>
                <name>quotecensus</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Claims_Experience_Screen</name>
        <label>Claims Experience</label>
        <locationX>1185</locationX>
        <locationY>299</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Stage_to_Six</targetReference>
        </connector>
        <fields>
            <name>flowstages_Claims_Experience_Screen</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>claimshistorylist_fc</name>
            <extensionName>c:claimshistorylist_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>quoteClaimHistory</name>
                <value>
                    <elementReference>quoteRequestClaimHistory</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>medicalClaimSummary</name>
                <value>
                    <elementReference>medicalClaimSummary</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quote</name>
                <value>
                    <elementReference>quote</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rxClaimSummary</name>
                <value>
                    <elementReference>rxClaimSummary</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>quoteRequestClaimHistory</assignToReference>
                <name>quoteClaimHistory</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>medicalClaimSummary</assignToReference>
                <name>medicalClaimSummary</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>quote</assignToReference>
                <name>quote</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>rxClaimSummary</assignToReference>
                <name>rxClaimSummary</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Class_Information_Stage</name>
        <label>Class Information</label>
        <locationX>721</locationX>
        <locationY>621</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Stage_to_Eight</targetReference>
        </connector>
        <fields>
            <name>flowstages_Class_Information_Stage</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>datatableFSC_groupclasses</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_standard1</name>
                <value>
                    <elementReference>allGroupClasses</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Class Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>Class_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Class Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>Class_Description__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>Class Description</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows_standard1</name>
                <value>
                    <elementReference>selectedGroupClasses</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedGroupClasses</assignToReference>
                <name>selectedRows_standard1</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Current_Plan_Information_Screen</name>
        <label>Current Plan Information</label>
        <locationX>839</locationX>
        <locationY>298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Stage_to_Seven</targetReference>
        </connector>
        <fields>
            <name>flowstages_Current_Plan_Information_Screen</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>competitorplanlist_fc</name>
            <extensionName>c:competitorplanlist_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>account</name>
                <value>
                    <elementReference>account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>competitorPlanInformation</name>
                <value>
                    <elementReference>competitorPlanInformation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quote</name>
                <value>
                    <elementReference>quote</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>account</assignToReference>
                <name>account</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>competitorPlanInformation</assignToReference>
                <name>competitorPlanInformation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>quote</assignToReference>
                <name>quote</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Eligiblity_Information</name>
        <label>Eligiblity Information</label>
        <locationX>1553</locationX>
        <locationY>299</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Stage_to_Five</targetReference>
        </connector>
        <fields>
            <name>flowstages_Eligiblity_Information</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>accounteligibilitydetail_fc</name>
            <extensionName>c:accounteligibilitydetail_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>account</name>
                <value>
                    <elementReference>account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eligibility</name>
                <value>
                    <elementReference>eligibility</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quote</name>
                <value>
                    <elementReference>quote</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>account</assignToReference>
                <name>account</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>eligibility</assignToReference>
                <name>eligibility</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>quote</assignToReference>
                <name>quote</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>groupinformation_screen</name>
        <label>Group Information</label>
        <locationX>502</locationX>
        <locationY>123</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fetch_Quote_Information</targetReference>
        </connector>
        <fields>
            <name>flowstages_groupinformation_screen</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>commercialaccountdetail_fc</name>
            <extensionName>c:commercialaccountdetail_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>account</name>
                <value>
                    <elementReference>account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quote</name>
                <value>
                    <elementReference>quote</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>account</assignToReference>
                <name>account</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>quote</assignToReference>
                <name>quote</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Account_Contacts</name>
        <label>Select Account Contacts</label>
        <locationX>1175</locationX>
        <locationY>125</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_Team_Information</targetReference>
        </connector>
        <fields>
            <name>flowstages_Select_Account_Contacts</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>accountcontactlist_fc</name>
            <extensionName>c:accountcontactlist_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>account</name>
                <value>
                    <elementReference>account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryContactId</name>
                <value>
                    <elementReference>primaryContactId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>account</assignToReference>
                <name>account</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>primaryContactId</assignToReference>
                <name>primaryContactId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Census_Information</name>
        <isActive>true</isActive>
        <label>Census Information</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Claims_Experience</name>
        <isActive>true</isActive>
        <label>Claims Experience</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Class_Information</name>
        <isActive>true</isActive>
        <label>Class Information</label>
        <stageOrder>6</stageOrder>
    </stages>
    <stages>
        <name>Contact_Information</name>
        <isActive>true</isActive>
        <label>Contact Information</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Current_Plan_Information</name>
        <isActive>true</isActive>
        <label>Current Plan Information</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>Documentation</name>
        <isActive>true</isActive>
        <label>Documentation</label>
        <stageOrder>9</stageOrder>
    </stages>
    <stages>
        <name>Group_Information</name>
        <isActive>true</isActive>
        <label>Group Information</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Plan_Association</name>
        <isActive>true</isActive>
        <label>Plan Association</label>
        <stageOrder>8</stageOrder>
    </stages>
    <stages>
        <name>Plan_Configuration</name>
        <isActive>true</isActive>
        <label>Plan Configuration</label>
        <stageOrder>7</stageOrder>
    </stages>
    <start>
        <locationX>46</locationX>
        <locationY>117</locationY>
        <connector>
            <targetReference>Fetch_Account_Information</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Create_Custom_Plan</name>
        <label>Create Custom Plan</label>
        <locationX>890</locationX>
        <locationY>469</locationY>
        <connector>
            <targetReference>Reassign_Stage_to_Eight</targetReference>
        </connector>
        <flowName>Custom_Plan_Configuration</flowName>
        <outputAssignments>
            <assignToReference>newPredefinedPlan</assignToReference>
            <name>new_predefinedpackage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Custom_Plan_Configuration</name>
        <label>Custom Plan Configuration</label>
        <locationX>751</locationX>
        <locationY>439</locationY>
        <connector>
            <targetReference>Reassign_Stage_to_Eight</targetReference>
        </connector>
        <flowName>Custom_Plan_Key_Benefit_Configuration</flowName>
        <outputAssignments>
            <assignToReference>newPredefinedPlan</assignToReference>
            <name>new_predefinedpackage</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountteammembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>add_another_plan</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allGroupClasses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group_Class__c</objectType>
    </variables>
    <variables>
        <name>competitorPlanInformation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Competitor_Plan_Information__c</objectType>
    </variables>
    <variables>
        <description>Context Record Id for the Flow</description>
        <name>context_record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>defaultClassList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee_Classes__c</objectType>
    </variables>
    <variables>
        <name>defaultEmployeeClass</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee_Classes__c</objectType>
    </variables>
    <variables>
        <name>eligibility</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Eligibility__c</objectType>
    </variables>
    <variables>
        <name>groupClass</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group_Class__c</objectType>
    </variables>
    <variables>
        <name>medicalClaimSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Request_Claim_Summary__c</objectType>
    </variables>
    <variables>
        <name>newPlanList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Plan__c</objectType>
    </variables>
    <variables>
        <name>newPredefinedPlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Plan__c</objectType>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>primaryAgencyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primaryAgentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primaryContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>quoteCensus</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Census__c</objectType>
    </variables>
    <variables>
        <name>quoteRequestClaimHistory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Request_Claim_History__c</objectType>
    </variables>
    <variables>
        <name>rxClaimSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Request_Claim_Summary__c</objectType>
    </variables>
    <variables>
        <name>selectedClassPlans</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Proposed_Plan__c</objectType>
    </variables>
    <variables>
        <name>selectedGroupClasses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group_Class__c</objectType>
    </variables>
</Flow>
