force-app/main/default/flows/Create_Quote_Request_LG.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_Quote_Request</name>
        <label>Navigate to Quote Request</label>
        <locationX>182</locationX>
        <locationY>3134</locationY>
        <actionName>c:navigatetorecord_fa</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>quote_record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_Default_Opportunity</name>
        <label>Set Default Opportunity</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>opportunity_record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>account_record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity_record.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quote_effective_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity_record.Financial_Arrangement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Experience Rated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity_record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity_record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!account_record.Name} NewBusiness  {!quote_effective_date}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Number_of_Subscribers_and_Members</name>
        <label>Set Number of Subscribers and Members</label>
        <locationX>182</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>medical_claim_summary.Average_Enrolled_Subscribers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>numberofSubscribers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>medical_claim_summary.Average_Enrolled_Members__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>numberOfMembers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rx_claim_summary.Average_Enrolled_Subscribers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>numberofSubscribers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rx_claim_summary.Average_Enrolled_Members__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>numberOfMembers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>claim_summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_Values</name>
        <label>Set Quote Values</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>quote_record.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quote_effective_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_record.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunity_record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Business Quote {!account_record.Name} {!quote_effective_date}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pricebookid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_record.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quote_contact_record.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quote_contact_record.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quote_contact_record.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0124x000000tKk5AAE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Needs Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_record.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>account_record.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_record.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>account_record.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_record.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>account_record.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quote_record.BillingName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quote_contact_record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote_Request_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_1</name>
        <label>Set Stage to 1</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Basics</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Context_Account_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Stage_2</name>
        <label>Set to Stage 2</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Plan_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Opportunity_If_Present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Quote_Id_on_Eligiblity_Record</name>
        <label>Update Quote Id on Eligiblity Record</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>eligiblity_record.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quote_record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eligiblity_record.Customer_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>context_record_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eligiblity_record.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Eligiblity_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_an_Opportunity_Present</name>
        <label>Is an Opportunity Present</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Fetch_Quote_Contact_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunity Exists</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunity_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_Opportunity</targetReference>
            </connector>
            <label>Opportunity Does Not Exist</label>
        </rules>
    </decisions>
    <description>Create Quote Request - LG</description>
    <interviewLabel>Create Quote Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Large Group Quote Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Eligiblity_Record</name>
        <label>Create Eligiblity Record</label>
        <locationX>182</locationX>
        <locationY>3014</locationY>
        <connector>
            <targetReference>Navigate_to_Quote_Request</targetReference>
        </connector>
        <inputReference>eligiblity_record</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Record</name>
        <label>Create Opportunity Record</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Fetch_Quote_Contact_Details</targetReference>
        </connector>
        <inputReference>opportunity_record</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Request_Record</name>
        <label>Create Quote Request Record</label>
        <locationX>182</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>quote_census_screen</targetReference>
        </connector>
        <inputReference>quote_record</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Claims_History</name>
        <label>Insert Claims History</label>
        <locationX>182</locationX>
        <locationY>2654</locationY>
        <connector>
            <targetReference>Insert_Medical_Claim_Summary</targetReference>
        </connector>
        <inputReference>quoteRequestClaimHistory</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Competitor_Plans</name>
        <label>Insert Competitor Plans</label>
        <locationX>182</locationX>
        <locationY>2534</locationY>
        <connector>
            <targetReference>Insert_Claims_History</targetReference>
        </connector>
        <inputReference>competitor_plan_information</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Medical_Claim_Summary</name>
        <label>Insert Medical Claim Summary</label>
        <locationX>182</locationX>
        <locationY>2774</locationY>
        <connector>
            <targetReference>Insert_RX_Claim_Summary</targetReference>
        </connector>
        <inputReference>medical_claim_summary</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Quote_Census</name>
        <label>Insert Quote Census</label>
        <locationX>182</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>Insert_Competitor_Plans</targetReference>
        </connector>
        <inputReference>quote_census</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_RX_Claim_Summary</name>
        <label>Insert RX Claim Summary</label>
        <locationX>182</locationX>
        <locationY>2894</locationY>
        <connector>
            <targetReference>Create_Eligiblity_Record</targetReference>
        </connector>
        <inputReference>rx_claim_summary</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Context_Account_Record</name>
        <label>Fetch Context Account Record</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>basics_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>context_record_id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>account_record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>Effective_Date__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>NumberOfEmployees</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Type</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Eligiblity_Records</name>
        <label>Fetch Eligiblity Records</label>
        <locationX>182</locationX>
        <locationY>1694</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Quote_Id_on_Eligiblity_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>account_record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Eligibility__c</object>
        <outputReference>eligiblity_record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active_Enrolled_Employees__c</queriedFields>
        <queriedFields>Actual_Group_Participation__c</queriedFields>
        <queriedFields>Average_Total_Employees_for_prior_year__c</queriedFields>
        <queriedFields>Cobra_Type__c</queriedFields>
        <queriedFields>Customer_Account__c</queriedFields>
        <queriedFields>Eligible_Emp_w_coverage__c</queriedFields>
        <queriedFields>Eligible_Emp_wo_coverage__c</queriedFields>
        <queriedFields>Employees_First_Day__c</queriedFields>
        <queriedFields>Group_Employed_20_Emp__c</queriedFields>
        <queriedFields>Group_has_1099_Employees__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Number_Cobra_Continuants__c</queriedFields>
        <queriedFields>Number_Employees_RT6__c</queriedFields>
        <queriedFields>Number_Employees_WP__c</queriedFields>
        <queriedFields>Participation_Requirement__c</queriedFields>
        <queriedFields>Participation_Requirement_Percent__c</queriedFields>
        <queriedFields>Quote__c</queriedFields>
        <queriedFields>Response_Channel__c</queriedFields>
        <queriedFields>TEFRA_DEFRA_Medicare__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Total_Eligible_Employees__c</queriedFields>
        <queriedFields>Total_Employees__c</queriedFields>
        <queriedFields>Total_PartTime__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Opportunity_If_Present</name>
        <label>Fetch Opportunity If Present</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_an_Opportunity_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>account_record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quote_effective_date</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>opportunity_record</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Quote_Contact_Details</name>
        <label>Fetch Quote Contact Details</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Quote_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quote_contact_id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>quote_contact_record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>basics_screen</name>
        <label>Basics</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_to_Stage_2</targetReference>
        </connector>
        <fields>
            <name>flowstages_basics_screen</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>groupquotebasics_fc</name>
            <extensionName>c:groupquotebasics_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>account_record</name>
                <value>
                    <elementReference>account_record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contact_record_id</name>
                <value>
                    <elementReference>quote_contact_id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quote_effective_date</name>
                <value>
                    <elementReference>quote_effective_date</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>account_record</assignToReference>
                <name>account_record</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>quote_contact_id</assignToReference>
                <name>contact_record_id</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>quote_effective_date</assignToReference>
                <name>quote_effective_date</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>claim_summary</name>
        <label>Claim Summary</label>
        <locationX>182</locationX>
        <locationY>2174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Current_Plan_Information_Screen</targetReference>
        </connector>
        <fields>
            <name>flowstages_eligiblility_information_screen</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>claimshistorylist_fc</name>
            <extensionName>c:claimshistorylist_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>quoteClaimHistory</name>
                <value>
                    <elementReference>quoteRequestClaimHistory</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>medicalClaimSummary</name>
                <value>
                    <elementReference>medical_claim_summary</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quote</name>
                <value>
                    <elementReference>quote_record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rxClaimSummary</name>
                <value>
                    <elementReference>rx_claim_summary</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>quoteRequestClaimHistory</assignToReference>
                <name>quoteClaimHistory</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>medical_claim_summary</assignToReference>
                <name>medicalClaimSummary</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>quote_record</assignToReference>
                <name>quote</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>rx_claim_summary</assignToReference>
                <name>rxClaimSummary</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Current_Plan_Information_Screen</name>
        <label>Current Plan Information</label>
        <locationX>182</locationX>
        <locationY>2294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_Quote_Census</targetReference>
        </connector>
        <fields>
            <name>flowstages_currentplaninformation</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>competitorplanlist_fc</name>
            <extensionName>c:competitorplanlist_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>account</name>
                <value>
                    <elementReference>account_record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>competitorPlanInformation</name>
                <value>
                    <elementReference>competitor_plan_information</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableFields</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quote</name>
                <value>
                    <elementReference>quote_record</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>competitor_plan_information</assignToReference>
                <name>competitorPlanInformation</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Eligiblity_Screen</name>
        <label>Eligiblity_Screen</label>
        <locationX>182</locationX>
        <locationY>1934</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Number_of_Subscribers_and_Members</targetReference>
        </connector>
        <fields>
            <name>flowstages_eligiblity</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>accounteligibilitydetail_fc</name>
            <extensionName>c:accounteligibilitydetail_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>account</name>
                <value>
                    <elementReference>account_record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eligibility</name>
                <value>
                    <elementReference>eligiblity_record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quote</name>
                <value>
                    <elementReference>quote_record</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>eligiblity_record</assignToReference>
                <name>eligibility</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>quote_census_screen</name>
        <label>Quote Census</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fetch_Eligiblity_Records</targetReference>
        </connector>
        <fields>
            <name>census_information_screen</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>accountquotecensuslist_fc</name>
            <extensionName>c:accountquotecensuslist_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>quote</name>
                <value>
                    <elementReference>quote_record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quotecensus</name>
                <value>
                    <elementReference>quote_census</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>quote_record</assignToReference>
                <name>quote</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>quote_census</assignToReference>
                <name>quotecensus</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>numberOfMembers</assignToReference>
                <name>numberofmembers</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>numberofSubscribers</assignToReference>
                <name>numberofsubscribers</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Basics</name>
        <isActive>true</isActive>
        <label>Basics</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Current_Plan_Information</name>
        <isActive>true</isActive>
        <label>Current Plan Information</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Group_Demographics</name>
        <isActive>true</isActive>
        <label>Group Demographics</label>
        <stageOrder>2</stageOrder>
    </stages>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Stage_to_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>account_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>competitor_plan_information</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Competitor_Plan_Information__c</objectType>
    </variables>
    <variables>
        <description>Context Account Id</description>
        <name>context_record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eligiblity_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Eligibility__c</objectType>
    </variables>
    <variables>
        <name>medical_claim_summary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Request_Claim_Summary__c</objectType>
    </variables>
    <variables>
        <name>numberOfMembers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numberofSubscribers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>opportunity_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>pricebookid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01s4x000000wHCrAAM</stringValue>
        </value>
    </variables>
    <variables>
        <name>quote_census</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Census__c</objectType>
    </variables>
    <variables>
        <name>quote_contact_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quote_contact_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>quote_effective_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quote_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>quoteRequestClaimHistory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Request_Claim_History__c</objectType>
    </variables>
    <variables>
        <name>rx_claim_summary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Request_Claim_Summary__c</objectType>
    </variables>
</Flow>
