force-app/main/default/flows/Custom_Plan_Key_Benefit_Configuration.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Search_Id_for_Predefined_Plan_Benefits</name>
        <label>Assign Search Id for Predefined Plan Benefits</label>
        <locationX>1077</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>predefinedbenefit_searchid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_predefinedpackage.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Stage_to_Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Stage_to_Confirmation</name>
        <label>Change Stage to Confirmation</label>
        <locationX>1077</locationX>
        <locationY>259</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirm_Plan_and_Benefits</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>plan_changes_confirmation_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Start</name>
        <label>Set Stage to Start</label>
        <locationX>190</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Configure_Plan</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Allowed_Attribute_Values</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Custom Plan Key Benefit Configuration {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Custom Plan Key Benefit Configuration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Fetch_Allowed_Attribute_Values</name>
        <label>Fetch Allowed Attribute Values</label>
        <locationX>617</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Configure_Plan_Benefits_Screen</targetReference>
        </connector>
        <object>Attribute_Value__c</object>
        <outputReference>AttributeValue_Records</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Attribute__c</queriedFields>
        <queriedFields>Attribute_Category__c</queriedFields>
        <queriedFields>Attribute_Code__c</queriedFields>
        <queriedFields>Attribute_Name__c</queriedFields>
        <queriedFields>Attribute_Value__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>In_Network_Display_Value__c</queriedFields>
        <queriedFields>Out_Of_Network_Display_Value__c</queriedFields>
        <queriedFields>Limits_And_Exceptions_Text_Area__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Plan_Benefits</name>
        <label>Update Plan Benefits</label>
        <locationX>721</locationX>
        <locationY>260</locationY>
        <connector>
            <targetReference>Update_Plan_Name</targetReference>
        </connector>
        <inputReference>updated_planbenefits</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Plan_Name</name>
        <label>Update Plan Name</label>
        <locationX>501</locationX>
        <locationY>260</locationY>
        <inputReference>new_predefinedpackage</inputReference>
    </recordUpdates>
    <screens>
        <name>Configure_Plan_Benefits_Screen</name>
        <label>Configure Plan Benefits</label>
        <locationX>843</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Search_Id_for_Predefined_Plan_Benefits</targetReference>
        </connector>
        <fields>
            <name>flowstages_Configure_Plan_Benefits_Screen</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>planconfigurator_fc_Configure_Plan_Benefits_Screen</name>
            <extensionName>c:planconfigurator_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Attribute_Value__c</name>
                <value>
                    <elementReference>AttributeValue_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Marketing_Plan__c</name>
                <value>
                    <elementReference>new_predefinedpackage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Marketing_Plan_Benefit__c</name>
                <value>
                    <elementReference>predefinedpackagebenefits</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Plan_Family__c</name>
                <value>
                    <elementReference>ProductLine_Record</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>new_predefinedpackage</assignToReference>
                <name>Marketing_Plan__c</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>predefinedpackagebenefits</assignToReference>
                <name>Marketing_Plan_Benefit__c</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ProductLine_Record</assignToReference>
                <name>Plan_Family__c</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>plan_changes_confirmation_screen</name>
        <label>Plan Changes Confirmation Screen</label>
        <locationX>899</locationX>
        <locationY>260</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Plan_Benefits</targetReference>
        </connector>
        <fields>
            <name>flowstages_plan_changes_confirmation_screen</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>modifiedbenefitslist_fc</name>
            <extensionName>c:modifiedbenefitslist_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Marketing_Plan_Benefit__c</name>
                <value>
                    <elementReference>predefinedpackagebenefits</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Marketing_Plan__c</name>
                <value>
                    <elementReference>new_predefinedpackage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>delete_planbenefit</assignToReference>
                <name>deleteRecords</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>deleted_planbenefits</assignToReference>
                <name>deletePlanBenefits</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>new_planbenefits</assignToReference>
                <name>createPlanBenefits</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>new_predefinedpackage</assignToReference>
                <name>Marketing_Plan__c</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>updated_planbenefits</assignToReference>
                <name>updatePlanBenefits</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Configure_Plan</name>
        <isActive>true</isActive>
        <label>Configure Plan</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Confirm_Plan_and_Benefits</name>
        <isActive>true</isActive>
        <label>Confirm Plan and Benefits</label>
        <stageOrder>3</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Set_Stage_to_Start</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>attribute</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribute__c</objectType>
    </variables>
    <variables>
        <name>attribute_value</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribute_Value__c</objectType>
    </variables>
    <variables>
        <name>attributes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribute__c</objectType>
    </variables>
    <variables>
        <name>AttributeValue_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Attribute_Value__c</objectType>
    </variables>
    <variables>
        <description>Context Record Id for the flow</description>
        <name>context_record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>create_newpredefinedplan</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>delete_planbenefit</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>deleted_planbenefits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Plan_Benefit__c</objectType>
    </variables>
    <variables>
        <name>edit_predefinedplanid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>insert_attributevalues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribute_Value__c</objectType>
    </variables>
    <variables>
        <name>new_planbenefits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Plan_Benefit__c</objectType>
    </variables>
    <variables>
        <name>new_predefinedpackage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Marketing_Plan__c</objectType>
    </variables>
    <variables>
        <name>parent_planfamilyid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parent_predefinedplanid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>plantemplatecomponents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plan_Template_Component__c</objectType>
    </variables>
    <variables>
        <name>predefinedbenefit_searchid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>predefinedpackagebenefits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Plan_Benefit__c</objectType>
    </variables>
    <variables>
        <name>productcomponentattributes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Component_Attribute__c</objectType>
    </variables>
    <variables>
        <name>productcomponents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plan_Component__c</objectType>
    </variables>
    <variables>
        <name>ProductLine_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Plan_Family__c</objectType>
    </variables>
    <variables>
        <name>updated_planbenefits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Plan_Benefit__c</objectType>
    </variables>
</Flow>
