force-app/main/default/flows/Marketing_Plan_Setup_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_Flow_Component</name>
        <label>Navigate to Flow Component</label>
        <locationX>50</locationX>
        <locationY>2438</locationY>
        <actionName>c:navigatetorecord_fa</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Parent_Plan_Id_for_Component_Search</name>
        <label>Assign Parent Plan Id for Component Search</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>predefinedbenefit_searchid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parent_predefinedplanid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Plan_Benefits</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Plan_Family</name>
        <label>Assign Plan Family</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>new_marketingplan.Plan_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlanFamily_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Predefined_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_id_to_context_record_id</name>
        <label>Assign record id to context record id</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>context_record_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Stage_to_Start</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Search_Id_for_Predefined_Plan_Benefits</name>
        <label>Assign Search Id for Predefined Plan Benefits</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>predefinedbenefit_searchid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>edit_predefinedplanid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Plan_Benefits</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Stage_To_Attribute_Values</name>
        <label>Change Stage to Attribute Values</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Plan_Benefits_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>select_plan_benefits</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Stage_to_Confirmation</name>
        <label>Change Stage to Confirmation</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirm_Plan_and_Benefits</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>plan_changes_confirmation_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Start</name>
        <label>Set Stage to Start</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Plan_Summary_Information_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Product_Line</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_New_Plan</name>
        <label>Create New Plan</label>
        <locationX>380</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Update_Predefined_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_New_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>create_newpredefinedplan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Plan_Family</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Plan_Copied</name>
        <label>Is Plan Copied</label>
        <locationX>182</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Assign_Parent_Plan_Id_for_Component_Search</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Is_Plan_Copied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parent_predefinedplanid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Framework_Components</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Marketing Plan Setup Template {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Marketing Plan Setup Template</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Plan_Benefits</name>
        <label>Create Plan Benefits</label>
        <locationX>50</locationX>
        <locationY>2078</locationY>
        <connector>
            <targetReference>Update_Plan_Benefits</targetReference>
        </connector>
        <inputReference>new_planbenefits</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Predefined_Plan</name>
        <label>Create Predefined Plan</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Is_Plan_Copied</targetReference>
        </connector>
        <inputReference>new_marketingplan</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Allowed_Attribute_Values</name>
        <label>Fetch Allowed Attribute Values</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_Stage_To_Attribute_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plan_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PlanFamily_Record.Id</elementReference>
            </value>
        </filters>
        <object>Attribute_Value__c</object>
        <outputReference>AttributeValue_Records</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Attribute__c</queriedFields>
        <queriedFields>Attribute_Category__c</queriedFields>
        <queriedFields>Attribute_Code__c</queriedFields>
        <queriedFields>Attribute_Name__c</queriedFields>
        <queriedFields>Attribute_Value__c</queriedFields>
        <queriedFields>Limits_And_Exceptions__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>In_Network_Display_Value__c</queriedFields>
        <queriedFields>Out_Of_Network_Display_Value__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Attributes</name>
        <label>Fetch Attributes</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>predefined_package_summary</targetReference>
        </connector>
        <object>Attribute__c</object>
        <outputReference>attributes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Attribute_Name__c</queriedFields>
        <queriedFields>Attribute_Display_Name__c</queriedFields>
        <queriedFields>Attribute_Category__c</queriedFields>
        <queriedFields>Attribute_Long_Code__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Framework_Components</name>
        <label>Fetch Framework Components</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Product_Component_Attributes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plan_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>new_marketingplan.Plan_Template__c</elementReference>
            </value>
        </filters>
        <object>Plan_Template_Component__c</object>
        <outputReference>plantemplatecomponents</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Component_Name__c</queriedFields>
        <queriedFields>Component_Type__c</queriedFields>
        <queriedFields>Is_Base_Component__c</queriedFields>
        <queriedFields>Plan_Template__c</queriedFields>
        <queriedFields>Plan_Component__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Plan_Benefits</name>
        <label>Fetch Plan Benefits</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Framework_Components</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Marketing_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>predefinedbenefit_searchid</elementReference>
            </value>
        </filters>
        <object>Marketing_Plan_Benefit__c</object>
        <outputReference>marketingplanbenefits</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Attribute_Category__c</queriedFields>
        <queriedFields>Attribute_Display_Name__c</queriedFields>
        <queriedFields>Attribute_Id__c</queriedFields>
        <queriedFields>Attribute_Long_Code__c</queriedFields>
        <queriedFields>Attribute_Value__c</queriedFields>
        <queriedFields>Component_Name__c</queriedFields>
        <queriedFields>Component_Type__c</queriedFields>
        <queriedFields>In_Network_Display_Name__c</queriedFields>
        <queriedFields>Out_Of_Network_Display_Value__c</queriedFields>
        <queriedFields>Plan_Template_Component__c</queriedFields>
        <queriedFields>Marketing_Plan__c</queriedFields>
        <queriedFields>Plan_Family__c</queriedFields>
        <queriedFields>Attribute_Code__c</queriedFields>
        <queriedFields>Attribute_Value_Amount__c</queriedFields>
        <queriedFields>Is_Key_Benefit__c</queriedFields>
        <queriedFields>Is_Base_Component_Benefit__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Product_Component_Attributes</name>
        <label>Fetch Product Component Attributes</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Allowed_Attribute_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plan_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PlanFamily_Record.Id</elementReference>
            </value>
        </filters>
        <object>Component_Attribute__c</object>
        <outputReference>plancomponentattributes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Attribute__c</queriedFields>
        <queriedFields>Attribute_Category__c</queriedFields>
        <queriedFields>Attribute_Display_Name__c</queriedFields>
        <queriedFields>Attribute_Long_Code__c</queriedFields>
        <queriedFields>Attribute_Name__c</queriedFields>
        <queriedFields>Is_Key_Benefit__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Plan_Component__c</queriedFields>
        <queriedFields>Plan_Family__c</queriedFields>
        <queriedFields>Attribute_Code__c</queriedFields>
        <queriedFields>Component_Name__c</queriedFields>
        <queriedFields>Component_Type__c</queriedFields>
        <sortField>Is_Key_Benefit__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Product_Line</name>
        <label>Fetch Product Line</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Attributes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PlanFamily_Record.Id</elementReference>
            </value>
        </filters>
        <object>Plan_Family__c</object>
        <outputReference>PlanFamily_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Plan_Benefits</name>
        <label>Update Plan Benefits</label>
        <locationX>50</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Update_Plan_Name</targetReference>
        </connector>
        <inputReference>updated_planbenefits</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Plan_Name</name>
        <label>Update Plan Name</label>
        <locationX>50</locationX>
        <locationY>2318</locationY>
        <connector>
            <targetReference>Navigate_to_Flow_Component</targetReference>
        </connector>
        <inputReference>new_marketingplan</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Predefined_Plan</name>
        <label>Update Predefined Plan</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Assign_Search_Id_for_Predefined_Plan_Benefits</targetReference>
        </connector>
        <inputReference>new_marketingplan</inputReference>
    </recordUpdates>
    <screens>
        <description>marketingplanbenefitchangeslist_fc
Inputs:
{!marketingplanbenefits}
{!new_marketingplan}
Outputs:
{!delete_planbenefit}
{!deleted_planbenefits}
{!new_planbenefits}
{!new_marketingplan}
{!updated_planbenefits}</description>
        <name>plan_changes_confirmation_screen</name>
        <label>Plan Changes Confirmation Screen</label>
        <locationX>50</locationX>
        <locationY>1958</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Plan_Benefits</targetReference>
        </connector>
        <fields>
            <name>flowstages_plan_changes_confirmation_screen</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>marketingplanbenefitchangeslist_fc</name>
            <extensionName>c:marketingplanbenefitchangeslist_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Marketing_Plan_Benefit__c</name>
                <value>
                    <elementReference>marketingplanbenefits</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Marketing_Plan__c</name>
                <value>
                    <elementReference>new_marketingplan</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>delete_planbenefit</assignToReference>
                <name>deleteRecords</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>deleted_planbenefits</assignToReference>
                <name>deletePlanBenefits</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>new_planbenefits</assignToReference>
                <name>createPlanBenefits</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>new_marketingplan</assignToReference>
                <name>Marketing_Plan__c</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>updated_planbenefits</assignToReference>
                <name>updatePlanBenefits</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>marketingplandetail_fc
Inputs:
{!parent_predefinedplanid}
{!parent_planfamilyid}
{!create_newpredefinedplan}
{!edit_predefinedplanid}
{!new_marketingplan}
{!PlanFamily_Record}
Output:
{!parent_predefinedplanid}
{!parent_planfamilyid}
{!create_newpredefinedplan}
{!edit_predefinedplanid}
{!new_marketingplan}
{!PlanFamily_Record}</description>
        <name>predefined_package_summary</name>
        <label>Predefined Package Summary</label>
        <locationX>380</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Plan</targetReference>
        </connector>
        <fields>
            <name>flowstages_predefined_package_summary</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>marketingplandetail_fc</name>
            <extensionName>c:marketingplandetail_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>copyfrommarketingplanid</name>
                <value>
                    <elementReference>parent_predefinedplanid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>copyfrompplanfamilyid</name>
                <value>
                    <elementReference>parent_planfamilyid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createmarketingplan</name>
                <value>
                    <elementReference>create_newpredefinedplan</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>editmarketingplanid</name>
                <value>
                    <elementReference>edit_predefinedplanid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Marketing_Plan__c</name>
                <value>
                    <elementReference>new_marketingplan</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Plan_Family__c</name>
                <value>
                    <elementReference>PlanFamily_Record</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>parent_predefinedplanid</assignToReference>
                <name>copyfrommarketingplanid</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>parent_planfamilyid</assignToReference>
                <name>copyfrompplanfamilyid</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>create_newpredefinedplan</assignToReference>
                <name>createmarketingplan</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>edit_predefinedplanid</assignToReference>
                <name>editmarketingplanid</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>new_marketingplan</assignToReference>
                <name>Marketing_Plan__c</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PlanFamily_Record</assignToReference>
                <name>Plan_Family__c</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>marketingplanbenefitlist_fc
Inputs:
{!AttributeValue_Records}
{!attributes}
{!plantemplatecomponents}
{!new_marketingplan}
{!marketingplanbenefits}
{!plancomponentattributes}
Outputs:
{!marketingplanbenefits}</description>
        <name>select_plan_benefits</name>
        <label>Select Plan Benefits</label>
        <locationX>50</locationX>
        <locationY>1718</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Change_Stage_to_Confirmation</targetReference>
        </connector>
        <fields>
            <name>flowstages_select_plan_benefits</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>marketingplanbenefitlist_fc</name>
            <extensionName>c:marketingplanbenefitlist_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Attribute_Value__c</name>
                <value>
                    <elementReference>AttributeValue_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Attribute__c</name>
                <value>
                    <elementReference>attributes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Plan_Template_Component__c</name>
                <value>
                    <elementReference>plantemplatecomponents</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Marketing_Plan__c</name>
                <value>
                    <elementReference>new_marketingplan</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Marketing_Plan_Benefit__c</name>
                <value>
                    <elementReference>marketingplanbenefits</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Component_Attribute__c</name>
                <value>
                    <elementReference>plancomponentattributes</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>marketingplanbenefits</assignToReference>
                <name>Marketing_Plan_Benefit__c</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Confirm_Plan_and_Benefits</name>
        <isActive>true</isActive>
        <label>Confirm Plan and Benefits</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Plan_Summary_Information_Stage</name>
        <isActive>true</isActive>
        <label>Plan Summary Information</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Select_Plan_Benefits_Stage</name>
        <isActive>true</isActive>
        <label>Select Plan Benefits</label>
        <stageOrder>2</stageOrder>
    </stages>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_record_id_to_context_record_id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>attribute</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribute__c</objectType>
    </variables>
    <variables>
        <name>attribute_value</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribute_Value__c</objectType>
    </variables>
    <variables>
        <name>attributes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribute__c</objectType>
    </variables>
    <variables>
        <name>AttributeValue_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Attribute_Value__c</objectType>
    </variables>
    <variables>
        <description>Context Record Id for the flow</description>
        <name>context_record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>create_newpredefinedplan</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>delete_planbenefit</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>deleted_planbenefits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Plan_Benefit__c</objectType>
    </variables>
    <variables>
        <name>edit_predefinedplanid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>insert_attributevalues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribute_Value__c</objectType>
    </variables>
    <variables>
        <name>marketingplanbenefits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Plan_Benefit__c</objectType>
    </variables>
    <variables>
        <name>new_marketingplan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Plan__c</objectType>
    </variables>
    <variables>
        <name>new_planbenefits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Plan_Benefit__c</objectType>
    </variables>
    <variables>
        <name>new_predefinedplan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Plan__c</objectType>
    </variables>
    <variables>
        <name>parent_planfamilyid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parent_predefinedplanid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>plancomponentattributes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Component_Attribute__c</objectType>
    </variables>
    <variables>
        <name>plancomponents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plan_Component__c</objectType>
    </variables>
    <variables>
        <name>PlanFamily_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Plan_Family__c</objectType>
    </variables>
    <variables>
        <name>plantemplatecomponents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plan_Template_Component__c</objectType>
    </variables>
    <variables>
        <name>predefinedbenefit_searchid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updated_planbenefits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Plan_Benefit__c</objectType>
    </variables>
</Flow>
