force-app/main/default/flows/Plan_Template_Setup_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_Plan_Family</name>
        <label>Navigate to Plan Family</label>
        <locationX>182</locationX>
        <locationY>2174</locationY>
        <actionName>c:be_navigateToRecordFC</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Parent_Template_Id_for_Component_Search</name>
        <label>Assign Parent Template Id for Component Search</label>
        <locationX>490</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>plantemplatecomponent_searchid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parent_plantemplateid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Existing_Plan_Template_Components</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Line_Id</name>
        <label>Assign Product Line Id</label>
        <locationX>336</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>new_plantemplate.Plan_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductLine_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Plan_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Template_Id_for_Component_Search</name>
        <label>Assign Template Id for Component Search</label>
        <locationX>754</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>plantemplatecomponent_searchid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>edit_plantemplateid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Existing_Plan_Template_Components</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Stage_to_Confirmation</name>
        <label>Change Stage to Confirmation</label>
        <locationX>182</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirm_Framework_Components_Screen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>confirm_package_framework_components</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_State_To_Package_Framework_Components</name>
        <label>Change Stage to Product Framework Components</label>
        <locationX>182</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Plan_Template_Components</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_package_framework_components</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Id_to_Context_Record_Id</name>
        <label>Set Record Id to Context Record Id</label>
        <locationX>545</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>context_record_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Start_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Start_Stage</name>
        <label>Set Start Stage</label>
        <locationX>545</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Plan_Template_Summary_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Context_Product_Line_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Delete_Plan_Template_Components</name>
        <label>Delete Plan Template Components</label>
        <locationX>182</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>Navigate_to_Plan_Family</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Delete_Plan_Template_Components</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>delete_plantemplatecomponent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Plan_Template_Component_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Plan_Template_Copied</name>
        <label>Is Plan Template Copied</label>
        <locationX>336</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Assign_Parent_Template_Id_for_Component_Search</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Is_Plan_Template_Copied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parent_plantemplateid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_State_To_Package_Framework_Components</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Plan_Template</name>
        <label>New Plan Template</label>
        <locationX>545</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Update_Plan_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Plan_Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>create_plantemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Line_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Plan Template Setup Template {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Plan Template Setup Template</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Plan_Components</name>
        <label>Create Plan Components</label>
        <locationX>182</locationX>
        <locationY>1718</locationY>
        <connector>
            <targetReference>Delete_Plan_Template_Components</targetReference>
        </connector>
        <inputReference>new_plantemplatecomponents</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Plan_Template</name>
        <label>Create Plan Template</label>
        <locationX>336</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Is_Plan_Template_Copied</targetReference>
        </connector>
        <inputReference>new_plantemplate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Plan_Template_Component_Records</name>
        <label>Delete Plan Template Component Records</label>
        <locationX>50</locationX>
        <locationY>1958</locationY>
        <connector>
            <targetReference>Navigate_to_Plan_Family</targetReference>
        </connector>
        <inputReference>deleted_plantemplatecomponents</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Fetch_Applicable_Product_Components</name>
        <label>Fetch Applicable Product Components</label>
        <locationX>545</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>plan_template_detail_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plan_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductLine_Record.Id</elementReference>
            </value>
        </filters>
        <object>Plan_Component__c</object>
        <outputReference>productcomponents</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Is_Base_Component__c</queriedFields>
        <queriedFields>Product_Component_Type__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Context_Product_Line_Record</name>
        <label>Fetch Context Product Line Record</label>
        <locationX>545</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Applicable_Product_Components</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>context_record_id</elementReference>
            </value>
        </filters>
        <object>Plan_Family__c</object>
        <outputReference>ProductLine_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Effective_Date__c</queriedFields>
        <queriedFields>Termination_Date__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Version__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Existing_Plan_Template_Components</name>
        <label>Fetch Existing Plan Template Components</label>
        <locationX>490</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_State_To_Package_Framework_Components</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plan_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>plantemplatecomponent_searchid</elementReference>
            </value>
        </filters>
        <object>Plan_Template_Component__c</object>
        <outputReference>all_packageframeworkcomponents</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Component_Name__c</queriedFields>
        <queriedFields>Component_Type__c</queriedFields>
        <queriedFields>Is_Base_Component__c</queriedFields>
        <queriedFields>Plan_Template__c</queriedFields>
        <queriedFields>Plan_Component__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Plan_Template</name>
        <label>Update Plan Template</label>
        <locationX>754</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Assign_Template_Id_for_Component_Search</targetReference>
        </connector>
        <inputReference>new_plantemplate</inputReference>
    </recordUpdates>
    <screens>
        <description>plantemplatecomponentlist_fc
Inputs:
{!new_plantemplate}
{!all_packageframeworkcomponents}
{!productcomponents}
Outputs:
{!all_packageframeworkcomponents}</description>
        <name>add_package_framework_components</name>
        <label>Add Package Framework Components</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Change_Stage_to_Confirmation</targetReference>
        </connector>
        <fields>
            <name>flowstages_add_package_framework_components_screen</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>plantemplatecomponentlist_fc</name>
            <extensionName>c:plantemplatecomponentlist_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Plan_Template__c</name>
                <value>
                    <elementReference>new_plantemplate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Plan_Template_Component__c</name>
                <value>
                    <elementReference>all_packageframeworkcomponents</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Plan_Component__c</name>
                <value>
                    <elementReference>productcomponents</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>all_packageframeworkcomponents</assignToReference>
                <name>Plan_Template_Component__c</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>plantemplatecomponentchangeslist_fc
Inputs:
{!new_plantemplate}
{!all_packageframeworkcomponents}
Outputs:
{!delete_plantemplatecomponent}
{!deleted_plantemplatecomponents}
{!new_plantemplatecomponents}
{!updated_plantemplatecomponents}</description>
        <name>confirm_package_framework_components</name>
        <label>Confirm Package Framework Components</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Plan_Components</targetReference>
        </connector>
        <fields>
            <name>flowstages_confirm_confirm_package_framework_components</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>displayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Submit to Save Changes&lt;/span&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>plantemplatecomponentchangeslist_fc</name>
            <extensionName>c:plantemplatecomponentchangeslist_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Plan_Template__c</name>
                <value>
                    <elementReference>new_plantemplate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Plan_Template_Component__c</name>
                <value>
                    <elementReference>all_packageframeworkcomponents</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>delete_plantemplatecomponent</assignToReference>
                <name>deleteRecords</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>deleted_plantemplatecomponents</assignToReference>
                <name>deletePlanTemplateComponents</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>new_plantemplatecomponents</assignToReference>
                <name>createPlanTemplateComponents</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>updated_plantemplatecomponents</assignToReference>
                <name>updatePlanTemplateComponents</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>plantemplatedetail_fc
Inputs:
{!parent_planfamilyid}
{!parent_plantemplateid}
{!create_plantemplate}
{!edit_plantemplateid}
{!ProductLine_Record}
{!new_plantemplate}
Outputs:
{!parent_planfamilyid}
{!parent_plantemplateid}
{!create_plantemplate}
{!edit_plantemplateid}
{!ProductLine_Record}
{!new_plantemplate}</description>
        <name>plan_template_detail_screen</name>
        <label>Plan Template Detail Screen</label>
        <locationX>545</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Plan_Template</targetReference>
        </connector>
        <fields>
            <name>flowstages_package_framework_screen</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>plantemplatedetail_fc</name>
            <extensionName>c:plantemplatedetail_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>copyfrompplanfamilyid</name>
                <value>
                    <elementReference>parent_planfamilyid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>copyfromplantemplateid</name>
                <value>
                    <elementReference>parent_plantemplateid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createplantemplate</name>
                <value>
                    <elementReference>create_plantemplate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>editplantemplateid</name>
                <value>
                    <elementReference>edit_plantemplateid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Plan_Family__c</name>
                <value>
                    <elementReference>ProductLine_Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Plan_Template__c</name>
                <value>
                    <elementReference>new_plantemplate</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>parent_planfamilyid</assignToReference>
                <name>copyfrompplanfamilyid</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>parent_plantemplateid</assignToReference>
                <name>copyfromplantemplateid</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>create_plantemplate</assignToReference>
                <name>createplantemplate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>edit_plantemplateid</assignToReference>
                <name>editplantemplateid</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ProductLine_Record</assignToReference>
                <name>Plan_Family__c</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>new_plantemplate</assignToReference>
                <name>Plan_Template__c</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Confirm_Framework_Components_Screen</name>
        <isActive>true</isActive>
        <label>Confirm Framework Components</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Plan_Template_Components</name>
        <isActive>true</isActive>
        <label>Plan Template Components</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Plan_Template_Summary_Stage</name>
        <isActive>true</isActive>
        <label>Plan Template Summary</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Record_Id_to_Context_Record_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>all_packageframeworkcomponents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plan_Template_Component__c</objectType>
    </variables>
    <variables>
        <description>Context Record Id for the flow</description>
        <name>context_record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>create_plantemplate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>delete_plantemplatecomponent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>deleted_plantemplatecomponents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plan_Template_Component__c</objectType>
    </variables>
    <variables>
        <name>edit_plantemplateid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>new_plantemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plan_Template__c</objectType>
    </variables>
    <variables>
        <name>new_plantemplatecomponents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plan_Template_Component__c</objectType>
    </variables>
    <variables>
        <name>parent_planfamilyid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parent_plantemplateid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>plantemplatecomponent_searchid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productcomponents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plan_Component__c</objectType>
    </variables>
    <variables>
        <name>ProductLine_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Plan_Family__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updated_plantemplatecomponents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plan_Template_Component__c</objectType>
    </variables>
</Flow>
