force-app/main/default/flows/Plan_Component_Setup_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Component_Id_for_Component_Attribute_Search</name>
        <label>Assign Component Id for Component Attribute Search</label>
        <locationX>1052</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>componentattribute_searchid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>edit_plancomponentid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Existing_Product_Component_Attributes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Component_Id_for_Component_Attribute_Search</name>
        <label>Assign Parent Component Id for Component Attribute Search</label>
        <locationX>1463</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>componentattribute_searchid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parent_plancomponentid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Existing_Product_Component_Attributes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Line_To_Component</name>
        <label>Assign Product Line To Component</label>
        <locationX>1001</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>new_productcomponent.Plan_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlanFamily_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Product_Component</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Stage_to_Confirmation</name>
        <label>Change Stage to Confirmation</label>
        <locationX>1134</locationX>
        <locationY>507</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirm_Component_Attributes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>confirm_product_component_attributes_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_State_To_Product_Component_Attributes</name>
        <label>Change Stage to Product Component Attributes</label>
        <locationX>1335</locationX>
        <locationY>368</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Product_Component_Attributes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_product_component_attributes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Start_Stage</name>
        <label>Set Start Stage</label>
        <locationX>224</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Component_Selection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlanFamily_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>context_record_id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Product_Line_Attribute_Value_Pairs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Delete_Component_Attributes</name>
        <label>Delete Component Attributes</label>
        <locationX>369</locationX>
        <locationY>511</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Delete_Component_Attributes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>delete_componentattribute</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Component_Attribute_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Product_Component_Copied</name>
        <label>Is Product Component Copied</label>
        <locationX>1314</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Assign_Parent_Component_Id_for_Component_Attribute_Search</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Is_Product_Component_Copied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parent_plancomponentid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_State_To_Product_Component_Attributes</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Plan_Component</name>
        <label>New Plan Component</label>
        <locationX>849</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Update_Product_Component</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Plan_Component</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>create_newcomponent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Line_To_Component</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Plan Component Setup Template {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Plan Component Setup Template</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Component_Attributes</name>
        <label>Create Component Attributes</label>
        <locationX>721</locationX>
        <locationY>508</locationY>
        <connector>
            <targetReference>Update_Component_Attributes</targetReference>
        </connector>
        <inputReference>created_componentattributes</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Component</name>
        <label>Create Product Component</label>
        <locationX>1139</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_Product_Component_Copied</targetReference>
        </connector>
        <inputReference>new_productcomponent</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Component_Attribute_Records</name>
        <label>Delete Component Attribute Records</label>
        <locationX>189</locationX>
        <locationY>511</locationY>
        <inputReference>deleted_componentattributes</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Fetch_Attributes</name>
        <label>Fetch Attributes</label>
        <locationX>518</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>product_components_screen</targetReference>
        </connector>
        <object>Attribute__c</object>
        <outputReference>attributes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Attribute_Name__c</queriedFields>
        <queriedFields>Attribute_Display_Name__c</queriedFields>
        <queriedFields>Attribute_Category__c</queriedFields>
        <queriedFields>Attribute_Long_Code__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Value_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Existing_Product_Component_Attributes</name>
        <label>Fetch Existing Product Component Attributes</label>
        <locationX>1463</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_State_To_Product_Component_Attributes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plan_Component__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>componentattribute_searchid</elementReference>
            </value>
        </filters>
        <object>Component_Attribute__c</object>
        <outputReference>all_productcomponentattributes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Attribute__c</queriedFields>
        <queriedFields>Attribute_Category__c</queriedFields>
        <queriedFields>Attribute_Code__c</queriedFields>
        <queriedFields>Attribute_Display_Name__c</queriedFields>
        <queriedFields>Attribute_Long_Code__c</queriedFields>
        <queriedFields>Attribute_Name__c</queriedFields>
        <queriedFields>Is_Key_Benefit__c</queriedFields>
        <queriedFields>Plan_Component__c</queriedFields>
        <queriedFields>Plan_Family__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Product_Line_Attribute_Value_Pairs</name>
        <label>Fetch Product Line Attribute Value Pairs</label>
        <locationX>363</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Attributes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plan_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>context_record_id</elementReference>
            </value>
        </filters>
        <object>Attribute_Value__c</object>
        <outputReference>AttributeValue_Records</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Attribute__c</queriedFields>
        <queriedFields>Attribute_Category__c</queriedFields>
        <queriedFields>Attribute_Code__c</queriedFields>
        <queriedFields>Attribute_Name__c</queriedFields>
        <queriedFields>Attribute_Value__c</queriedFields>
        <queriedFields>Plan_Family__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Component_Attributes</name>
        <label>Update Component Attributes</label>
        <locationX>552</locationX>
        <locationY>509</locationY>
        <connector>
            <targetReference>Delete_Component_Attributes</targetReference>
        </connector>
        <inputReference>updated_componentattributes</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Component</name>
        <label>Update Product Component</label>
        <locationX>860</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>Assign_Component_Id_for_Component_Attribute_Search</targetReference>
        </connector>
        <inputReference>new_productcomponent</inputReference>
    </recordUpdates>
    <screens>
        <description>plancomponentattributelst_fc
Inputs:
{!AttributeValue_Records}
{!attributes}
{!new_productcomponent}
{!all_productcomponentattributes}
Outputs:
{!all_productcomponentattributes}</description>
        <name>add_product_component_attributes</name>
        <label>Add Product Component Attributes</label>
        <locationX>1335</locationX>
        <locationY>507</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Change_Stage_to_Confirmation</targetReference>
        </connector>
        <fields>
            <name>flowstages_add_product_line_attributes_screen</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>plancomponentattributelst_fc</name>
            <extensionName>c:plancomponentattributelst_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Attribute_Value__c</name>
                <value>
                    <elementReference>AttributeValue_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Attribute__c</name>
                <value>
                    <elementReference>attributes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Plan_Component__c</name>
                <value>
                    <elementReference>new_productcomponent</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Component_Attribute__c</name>
                <value>
                    <elementReference>all_productcomponentattributes</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>all_productcomponentattributes</assignToReference>
                <name>Component_Attribute__c</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>plancomponentattributechangeslist_fc
Inputs:
{!all_productcomponentattributes}
{!new_productcomponent}
Outputs:
{!delete_componentattribute}
{!deleted_componentattributes}
{!created_componentattributes}
{!updated_componentattributes}</description>
        <name>confirm_product_component_attributes_screen</name>
        <label>Confirm Product Component Attributes Screen</label>
        <locationX>920</locationX>
        <locationY>507</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Component_Attributes</targetReference>
        </connector>
        <fields>
            <name>flowstages_confirm_product_component_attributes_screen</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>displayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Submit to Save Changes&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>plancomponentattributechangeslist_fc</name>
            <extensionName>c:plancomponentattributechangeslist_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Component_Attribute__c</name>
                <value>
                    <elementReference>all_productcomponentattributes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deleteRecords</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Plan_Component__c</name>
                <value>
                    <elementReference>new_productcomponent</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>delete_componentattribute</assignToReference>
                <name>deleteRecords</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>deleted_componentattributes</assignToReference>
                <name>deleteComponentAttributes</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>created_componentattributes</assignToReference>
                <name>createComponentAttributes</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>updated_componentattributes</assignToReference>
                <name>updateComponentAttributes</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>plancomponentdetail_fc
Inputs:
{!parent_planfamilyid}
{!parent_plancomponentid}
{!create_newcomponent}
{!edit_plancomponentid}
{!new_productcomponent}
{!PlanFamily_Record}
Outputs:
{!parent_planfamilyid}
{!parent_plancomponentid}
{!create_newcomponent}
{!edit_plancomponentid}
{!new_productcomponent}
{!PlanFamily_Record}</description>
        <name>product_components_screen</name>
        <label>Product Components Screen</label>
        <locationX>694</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Plan_Component</targetReference>
        </connector>
        <fields>
            <name>flowstages_product_component_selection_screen</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>plancomponentdetail_fc</name>
            <extensionName>c:plancomponentdetail_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>copyfromplancomponentid</name>
                <value>
                    <elementReference>parent_planfamilyid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>copyfrompplanfamilyid</name>
                <value>
                    <elementReference>parent_plancomponentid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createplancomponent</name>
                <value>
                    <elementReference>create_newcomponent</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>editplancomponentid</name>
                <value>
                    <elementReference>edit_plancomponentid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Plan_Component__c</name>
                <value>
                    <elementReference>new_productcomponent</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Plan_Family__c</name>
                <value>
                    <elementReference>PlanFamily_Record</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>parent_planfamilyid</assignToReference>
                <name>copyfromplancomponentid</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>parent_plancomponentid</assignToReference>
                <name>copyfrompplanfamilyid</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>create_newcomponent</assignToReference>
                <name>createplancomponent</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>edit_plancomponentid</assignToReference>
                <name>editplancomponentid</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>new_productcomponent</assignToReference>
                <name>Plan_Component__c</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PlanFamily_Record</assignToReference>
                <name>Plan_Family__c</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Confirm_Component_Attributes</name>
        <isActive>true</isActive>
        <label>Confirm Component Attributes</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Product_Component_Selection</name>
        <isActive>true</isActive>
        <label>Product Component Selection</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Select_Product_Component_Attributes</name>
        <isActive>true</isActive>
        <label>Select Component Attributes</label>
        <stageOrder>2</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Set_Start_Stage</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>all_productcomponentattributes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Component_Attribute__c</objectType>
    </variables>
    <variables>
        <name>attributes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribute__c</objectType>
    </variables>
    <variables>
        <name>AttributeValue_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Attribute_Value__c</objectType>
    </variables>
    <variables>
        <name>componentattribute_searchid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Context Record Id for the flow</description>
        <name>context_record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>create_newcomponent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>created_componentattributes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Component_Attribute__c</objectType>
    </variables>
    <variables>
        <name>delete_componentattribute</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>deleted_componentattributes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Component_Attribute__c</objectType>
    </variables>
    <variables>
        <name>edit_plancomponentid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>new_productcomponent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plan_Component__c</objectType>
    </variables>
    <variables>
        <name>new_productcomponentattributes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Component_Attribute__c</objectType>
    </variables>
    <variables>
        <name>parent_plancomponentid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parent_planfamilyid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlanFamily_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Plan_Family__c</objectType>
    </variables>
    <variables>
        <name>updated_componentattributes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Component_Attribute__c</objectType>
    </variables>
</Flow>
