force-app/main/default/flows/Plan_Family_Setup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assign_plan_family_edit_assignment</name>
        <label>Assign Plan Family Id For Update</label>
        <locationX>980</locationX>
        <locationY>945</locationY>
        <assignmentItems>
            <assignToReference>new_planfamily.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>context_record_id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>plan_family_update_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>change_stage_to_attribute_values_edit_assignment</name>
        <label>Assign Current Stage To Edit Attribute Values</label>
        <locationX>1077</locationX>
        <locationY>1251</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>edit_plan_attribute_values</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>context_record_id_edit_assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Stage_to_Confirmation</name>
        <label>Change Stage to Confirmation</label>
        <locationX>1083</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plan_family_confirmation_stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>plan_family_change_confirmation_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>context_record_id_edit_assignment</name>
        <label>Assign Context Record Id</label>
        <locationX>1080</locationX>
        <locationY>1399</locationY>
        <assignmentItems>
            <assignToReference>context_record_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_planfamily.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>edit_plan_family_attributes_screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>current_status_is_workspace_decision</name>
        <label>Current Status is Workspace</label>
        <locationX>976</locationX>
        <locationY>761</locationY>
        <defaultConnector>
            <targetReference>create_plan_family_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_current_status_is_workspace_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parent_planfamily.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Workspace</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_plan_family_edit_assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deleted_Records_Present</name>
        <label>Deleted Records Present</label>
        <locationX>1075</locationX>
        <locationY>2253</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Deleted_Records_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>delete_attributevaluepairs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Attribute_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if user requested creation of a new plan family</description>
        <name>new_plan_family_decision</name>
        <label>New Plan Family</label>
        <locationX>968</locationX>
        <locationY>491</locationY>
        <defaultConnector>
            <targetReference>attribute_values_for_plan_family_get_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes_new_plan_family_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>create_new_plan_family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_plan_family_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Create or Revise Plan Families</description>
    <interviewLabel>Plan Family Setup {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Plan Family Setup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Attribute_Value_Pairs</name>
        <label>Create Attribute Value Pairs</label>
        <locationX>1086</locationX>
        <locationY>1953</locationY>
        <connector>
            <targetReference>Update_Attribute_Value_Pairs</targetReference>
        </connector>
        <inputReference>created_attributevalues</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_plan_family_record</name>
        <label>Create Plan Family</label>
        <locationX>1180</locationX>
        <locationY>760</locationY>
        <connector>
            <targetReference>change_stage_to_attribute_values_edit_assignment</targetReference>
        </connector>
        <inputReference>new_planfamily</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Attribute_Values</name>
        <label>Delete Attribute Values</label>
        <locationX>1081</locationX>
        <locationY>2391</locationY>
        <inputReference>deleted_attributevalues</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>attribute_values_for_plan_family_get_records</name>
        <label>Get Attribute Values For Plan Family</label>
        <locationX>816</locationX>
        <locationY>630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>plan_family_status_get_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plan_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>context_record_id</elementReference>
            </value>
        </filters>
        <object>Attribute_Value__c</object>
        <outputReference>existing_attributevalues</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Attribute__c</queriedFields>
        <queriedFields>Attribute_Category__c</queriedFields>
        <queriedFields>Attribute_Code__c</queriedFields>
        <queriedFields>Attribute_Name__c</queriedFields>
        <queriedFields>Attribute_Value__c</queriedFields>
        <queriedFields>In_Network_Display_Value__c</queriedFields>
        <queriedFields>Limits_And_Exceptions__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Out_Of_Network_Display_Value__c</queriedFields>
        <queriedFields>Plan_Family__c</queriedFields>
        <queriedFields>In_Network_Value__c</queriedFields>
        <queriedFields>Out_Of_Network_Value__c</queriedFields>
        <queriedFields>Value_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_all_attributes_get_records</name>
        <label>Get All Attributes</label>
        <locationX>978</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>plan_family_summary_screen</targetReference>
        </connector>
        <object>Attribute__c</object>
        <outputReference>attributes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Attribute_Category__c</queriedFields>
        <queriedFields>Attribute_Name__c</queriedFields>
        <queriedFields>Value_Type__c</queriedFields>
        <queriedFields>Attribute_Display_Name__c</queriedFields>
        <queriedFields>Attribute_Long_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>plan_family_status_get_record</name>
        <label>Get Current Plan Family Status</label>
        <locationX>817</locationX>
        <locationY>759</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>current_status_is_workspace_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>context_record_id</elementReference>
            </value>
        </filters>
        <object>Plan_Family__c</object>
        <outputReference>parent_planfamily</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>plan_family_update_record</name>
        <label>Update Plan Family</label>
        <locationX>980</locationX>
        <locationY>1103</locationY>
        <connector>
            <targetReference>change_stage_to_attribute_values_edit_assignment</targetReference>
        </connector>
        <inputReference>new_planfamily</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Attribute_Value_Pairs</name>
        <label>Update Attribute Value Pairs</label>
        <locationX>1084</locationX>
        <locationY>2107</locationY>
        <connector>
            <targetReference>Deleted_Records_Present</targetReference>
        </connector>
        <inputReference>updated_attributevalues</inputReference>
    </recordUpdates>
    <screens>
        <name>edit_plan_family_attributes_screen</name>
        <label>Edit Plan Family Attributes</label>
        <locationX>1083</locationX>
        <locationY>1543</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Change_Stage_to_Confirmation</targetReference>
        </connector>
        <fields>
            <name>flowstages_edit_plan_family_attributes</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>planfamilyattributevalueslst_fc</name>
            <extensionName>c:planfamilyattributevalueslst_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Attribute__c</name>
                <value>
                    <elementReference>attributes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Attribute_Value__c</name>
                <value>
                    <elementReference>existing_attributevalues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Plan_Family__c</name>
                <value>
                    <elementReference>new_planfamily</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>existing_attributevalues</assignToReference>
                <name>Attribute_Value__c</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>attributes</assignToReference>
                <name>Attribute__c</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>new_planfamily</assignToReference>
                <name>Plan_Family__c</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>plan_family_change_confirmation_screen</name>
        <label>Plan Family Changes Confirmation</label>
        <locationX>1085</locationX>
        <locationY>1820</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Attribute_Value_Pairs</targetReference>
        </connector>
        <fields>
            <name>flowstages_plan_family_change_confirmation_screen</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>displayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Submit to Save Changes&lt;/span&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>planfamilyattributevaluechangeslist_fc</name>
            <extensionName>c:planfamilyattributevaluechangeslist_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Attribute_Value__c</name>
                <value>
                    <elementReference>existing_attributevalues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deleteRecords</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Plan_Family__c</name>
                <value>
                    <elementReference>new_planfamily</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>existing_attributevalues</assignToReference>
                <name>Attribute_Value__c</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>delete_attributevaluepairs</assignToReference>
                <name>deleteRecords</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>deleted_attributevalues</assignToReference>
                <name>deleteAttributeValues</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>created_attributevalues</assignToReference>
                <name>createAttributeValues</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>new_planfamily</assignToReference>
                <name>Plan_Family__c</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>updated_attributevalues</assignToReference>
                <name>updateAttributeValues</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>plan_family_summary_screen</name>
        <label>Plan Family Summary</label>
        <locationX>978</locationX>
        <locationY>343</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>new_plan_family_decision</targetReference>
        </connector>
        <fields>
            <name>flowstages_plan_family_summary_screen</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>planfamilydetail_fc</name>
            <extensionName>c:planfamilydetail_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>createplanfamily</name>
                <value>
                    <elementReference>create_plan_family_record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Plan_Family__c</name>
                <value>
                    <elementReference>new_planfamily</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedplanfamily</name>
                <value>
                    <elementReference>context_record_id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>create_new_plan_family</assignToReference>
                <name>createplanfamily</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>new_planfamily</assignToReference>
                <name>Plan_Family__c</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>context_record_id</assignToReference>
                <name>selectedplanfamily</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>edit_plan_attribute_values</name>
        <isActive>true</isActive>
        <label>Edit Plan Attribute Values</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>plan_family_confirmation_stage</name>
        <isActive>true</isActive>
        <label>Confirm Changes</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>plan_family_summary_stage</name>
        <isActive>true</isActive>
        <label>Plan Family Summary</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>852</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_all_attributes_get_records</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>attributes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribute__c</objectType>
    </variables>
    <variables>
        <description>Context Record Id for the flow</description>
        <name>context_record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>create_new_plan_family</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>created_attributevalues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Attribute_Value__c</objectType>
    </variables>
    <variables>
        <name>delete_attributevaluepairs</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>deleted_attributevalues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribute_Value__c</objectType>
    </variables>
    <variables>
        <name>existing_attributevalues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribute_Value__c</objectType>
    </variables>
    <variables>
        <name>new_planfamily</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Plan_Family__c</objectType>
    </variables>
    <variables>
        <name>parent_planfamily</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plan_Family__c</objectType>
    </variables>
    <variables>
        <name>updated_attributevalues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribute_Value__c</objectType>
    </variables>
</Flow>
