force-app/main/default/flows/Review_Quote_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_Quote</name>
        <label>Navigate to Quote</label>
        <locationX>1757</locationX>
        <locationY>396</locationY>
        <actionName>c:be_navigateToRecordFC</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>quote.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Eligiblity_Account</name>
        <label>Assign Eligiblity Account</label>
        <locationX>1843</locationX>
        <locationY>216</locationY>
        <assignmentItems>
            <assignToReference>eligibility.Customer_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eligibility.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eligibility.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quote.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eligiblity_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Stage_To_Negotiation_Review</name>
        <label>Assign Opportunity Stage To Negotiation/Review</label>
        <locationX>1087</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Negotiation/Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Quote_Rates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_Status_to_Needs_Review</name>
        <label>Assign Quote Status to Needs Review</label>
        <locationX>924</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>quote.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opportunity_Stage_To_Negotiation_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_to_Eight</name>
        <label>Assign Stage to Eight</label>
        <locationX>548</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Proposed_Plan_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Associate_Plans_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Five</name>
        <label>Set Stage to Five</label>
        <locationX>1486</locationX>
        <locationY>217</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Claims_Experience</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Claims_History</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Four</name>
        <label>Set Stage to Four</label>
        <locationX>2223</locationX>
        <locationY>75</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Census_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Census_Information_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_One</name>
        <label>Set Stage To One</label>
        <locationX>865</locationX>
        <locationY>75</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Group_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>groupinformation_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Six</name>
        <label>Set Stage to Six</label>
        <locationX>644</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Plan_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Current_Plan_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Two</name>
        <label>Set Stage to Two</label>
        <locationX>1236</locationX>
        <locationY>77</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agency_Selection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Review Quote Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Review Quote Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Quote_Rates</name>
        <label>Insert Quote Rates</label>
        <locationX>1249</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <inputReference>proposedRates</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Account_Information</name>
        <label>Fetch Account Information</label>
        <locationX>640</locationX>
        <locationY>74</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Stage_To_One</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountNumber</queriedFields>
        <queriedFields>AccountSource</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>AnnualRevenue</queriedFields>
        <queriedFields>Effective_Date__c</queriedFields>
        <queriedFields>Group_Category__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Legal_Entity_Name__c</queriedFields>
        <queriedFields>NumberOfEmployees</queriedFields>
        <queriedFields>NumberofLocations__c</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Rating_Zipcode__c</queriedFields>
        <queriedFields>Rating_City__c</queriedFields>
        <queriedFields>Rating_County__c</queriedFields>
        <queriedFields>Rating_Region__c</queriedFields>
        <queriedFields>Rating_State__c</queriedFields>
        <queriedFields>Sic</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>TIN_EIN__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Industry</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingAddress</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Claims_History</name>
        <label>Fetch Claims History</label>
        <locationX>1318</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Medical_Claims_Summary</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Stage_to_Six</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quote.Id</elementReference>
            </value>
        </filters>
        <object>Quote_Request_Claim_History__c</object>
        <outputReference>quoteRequestClaimHistory</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Claim_From__c</queriedFields>
        <queriedFields>Claim_Reimbursement__c</queriedFields>
        <queriedFields>Claim_Through__c</queriedFields>
        <queriedFields>ICD10__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Physician_NPN__c</queriedFields>
        <queriedFields>Quote__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Current_Plan_Information</name>
        <label>Fetch Current Plan Information</label>
        <locationX>434</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Plan_Information_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fetch_Proposed_Plans</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quote.Id</elementReference>
            </value>
        </filters>
        <object>Competitor_Plan_Information__c</object>
        <outputReference>competitorPlanInformation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Carrier_Name__c</queriedFields>
        <queriedFields>Customer_Account__c</queriedFields>
        <queriedFields>Deductible__c</queriedFields>
        <queriedFields>DME__c</queriedFields>
        <queriedFields>Drug_Option__c</queriedFields>
        <queriedFields>Emergency_Room_Copay__c</queriedFields>
        <queriedFields>Family_Incentives__c</queriedFields>
        <queriedFields>Family_Medical__c</queriedFields>
        <queriedFields>Family_Medical_Management__c</queriedFields>
        <queriedFields>Family_Prescription_Drug__c</queriedFields>
        <queriedFields>Family_Total__c</queriedFields>
        <queriedFields>HDHP_Option__c</queriedFields>
        <queriedFields>Inpatient_Copay__c</queriedFields>
        <queriedFields>Max_Dependent_Age__c</queriedFields>
        <queriedFields>Medical_Equipment_Rider__c</queriedFields>
        <queriedFields>Plan_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Plan_Type__c</queriedFields>
        <queriedFields>Product_Category__c</queriedFields>
        <queriedFields>Rate_Effective_Date__c</queriedFields>
        <queriedFields>Rate_Termination_Date__c</queriedFields>
        <queriedFields>Subscriber_Children_Incentives__c</queriedFields>
        <queriedFields>Quote__c</queriedFields>
        <queriedFields>Subscriber_Children_Medical__c</queriedFields>
        <queriedFields>Subscriber_Children_Medical_Management__c</queriedFields>
        <queriedFields>Subscriber_Children_Prescription_Drug__c</queriedFields>
        <queriedFields>Subscriber_Children_Total__c</queriedFields>
        <queriedFields>Subscriber_Only_Incentives__c</queriedFields>
        <queriedFields>Subscriber_Only_Medical__c</queriedFields>
        <queriedFields>Subscriber_Only_Medical_Management__c</queriedFields>
        <queriedFields>Subscriber_Only_Prescription_Drug__c</queriedFields>
        <queriedFields>Subscriber_Only_Total__c</queriedFields>
        <queriedFields>Subscriber_Spouse_Incentives__c</queriedFields>
        <queriedFields>Subscriber_Spouse_Medical__c</queriedFields>
        <queriedFields>Subscriber_Spouse_Medical_Management__c</queriedFields>
        <queriedFields>Subscriber_Spouse_Prescription_Drug__c</queriedFields>
        <queriedFields>Subscriber_Spouse_Total__c</queriedFields>
        <queriedFields>Tier__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Eligibility</name>
        <label>Fetch Eligibility</label>
        <locationX>2012</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Eligiblity_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Eligibility__c</object>
        <outputReference>eligibility</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active_Enrolled_Employees__c</queriedFields>
        <queriedFields>Actual_Group_Participation__c</queriedFields>
        <queriedFields>Average_Total_Employees_for_prior_year__c</queriedFields>
        <queriedFields>Cobra_Type__c</queriedFields>
        <queriedFields>Customer_Account__c</queriedFields>
        <queriedFields>Eligible_Emp_w_coverage__c</queriedFields>
        <queriedFields>Eligible_Emp_wo_coverage__c</queriedFields>
        <queriedFields>Employees_First_Day__c</queriedFields>
        <queriedFields>Group_Employed_20_Emp__c</queriedFields>
        <queriedFields>Group_has_1099_Employees__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Number_Cobra_Continuants__c</queriedFields>
        <queriedFields>Number_Employees_RT6__c</queriedFields>
        <queriedFields>Number_Employees_WP__c</queriedFields>
        <queriedFields>Participation_Requirement__c</queriedFields>
        <queriedFields>Participation_Requirement_Percent__c</queriedFields>
        <queriedFields>Quote__c</queriedFields>
        <queriedFields>Response_Channel__c</queriedFields>
        <queriedFields>TEFRA_DEFRA_Medicare__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Total_Eligible_Employees__c</queriedFields>
        <queriedFields>Total_Employees__c</queriedFields>
        <queriedFields>Total_PartTime__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Medical_Claims_Summary</name>
        <label>Fetch Medical Claims Summary</label>
        <locationX>1158</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Rx_Claims_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quote.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Medical</stringValue>
            </value>
        </filters>
        <object>Quote_Request_Claim_Summary__c</object>
        <outputReference>medicalClaimSummary</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Average_Enrolled_Members__c</queriedFields>
        <queriedFields>Average_Enrolled_Subscribers__c</queriedFields>
        <queriedFields>Billed_Premium__c</queriedFields>
        <queriedFields>Capitation__c</queriedFields>
        <queriedFields>Claims__c</queriedFields>
        <queriedFields>Experience_Period_From__c</queriedFields>
        <queriedFields>Experience_Period_Through__c</queriedFields>
        <queriedFields>High_Level_Claims__c</queriedFields>
        <queriedFields>Medical_Loss_Ratio__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Quote__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Proposed_Classes</name>
        <label>Fetch Proposed Classes</label>
        <locationX>376</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Stage_to_Eight</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quote.Id</elementReference>
            </value>
        </filters>
        <object>Group_Class__c</object>
        <outputReference>selectedGroupClasses</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Class_Description__c</queriedFields>
        <queriedFields>Class_Type__c</queriedFields>
        <queriedFields>Customer_Account__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Quote__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Proposed_Plans</name>
        <label>Fetch Proposed Plans</label>
        <locationX>197</locationX>
        <locationY>397</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Proposed_Classes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quote.Id</elementReference>
            </value>
        </filters>
        <object>Proposed_Plan__c</object>
        <outputReference>selectedClassPlans</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Effective_Date__c</queriedFields>
        <queriedFields>Group_Class__c</queriedFields>
        <queriedFields>Marketing_Plan_Name__c</queriedFields>
        <queriedFields>Plan_Family__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Plan_Name__c</queriedFields>
        <queriedFields>Marketing_Plan__c</queriedFields>
        <queriedFields>Quote_Request__c</queriedFields>
        <queriedFields>Class_ID__c</queriedFields>
        <queriedFields>Class_Type__c</queriedFields>
        <queriedFields>Plan_Component_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Quote_Census_Information</name>
        <label>Fetch Quote Census Information</label>
        <locationX>2046</locationX>
        <locationY>76</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Stage_to_Four</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quote.Id</elementReference>
            </value>
        </filters>
        <object>Quote_Census__c</object>
        <outputReference>quoteCensus</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Date_Of_Birth__c</queriedFields>
        <queriedFields>Employee_Number__c</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Quote__c</queriedFields>
        <queriedFields>Relation__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Tobacco_Use__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Quote_Information</name>
        <label>Fetch Quote Information</label>
        <locationX>247</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Selected_Opportunity_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>context_record_id</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>quote</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Effective_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Rx_Claims_Summary</name>
        <label>Fetch Rx Claims Summary</label>
        <locationX>990</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Claims_Experience_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quote.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RX</stringValue>
            </value>
        </filters>
        <object>Quote_Request_Claim_Summary__c</object>
        <outputReference>rxClaimSummary</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Average_Enrolled_Members__c</queriedFields>
        <queriedFields>Average_Enrolled_Subscribers__c</queriedFields>
        <queriedFields>Billed_Premium__c</queriedFields>
        <queriedFields>Claims__c</queriedFields>
        <queriedFields>Capitation__c</queriedFields>
        <queriedFields>Experience_Period_From__c</queriedFields>
        <queriedFields>Experience_Period_Through__c</queriedFields>
        <queriedFields>High_Level_Claims__c</queriedFields>
        <queriedFields>Medical_Loss_Ratio__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Quote__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Selected_Opportunity_Detail</name>
        <label>Fetch Selected Opportunity Detail</label>
        <locationX>440</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Account_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quote.OpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Opportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>DeliveryInstallationStatus__c</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1412</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>Update_Quote_Status</targetReference>
        </connector>
        <inputReference>Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Status</name>
        <label>Update Quote Status</label>
        <locationX>1581</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>Navigate_to_Quote</targetReference>
        </connector>
        <inputReference>quote</inputReference>
    </recordUpdates>
    <screens>
        <name>Account_Team_Information</name>
        <label>Account Team Information</label>
        <locationX>1872</locationX>
        <locationY>76</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fetch_Quote_Census_Information</targetReference>
        </connector>
        <fields>
            <name>flowstages_Account_Team_Information</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>accountteamdetail_fc</name>
            <extensionName>c:accountteamdetail_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>account</name>
                <value>
                    <elementReference>account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>account</assignToReference>
                <name>account</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Agency_Selection</name>
        <label>Agency Selection</label>
        <locationX>1449</locationX>
        <locationY>76</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Account_Contacts</targetReference>
        </connector>
        <fields>
            <name>flowstages_Agency_Selection</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>agency_account_list_fc</name>
            <extensionName>c:agency_account_list_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>account</name>
                <value>
                    <elementReference>account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryAgencyId</name>
                <value>
                    <elementReference>primaryAgencyId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryAgentId</name>
                <value>
                    <elementReference>primaryAgentId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Associate_Plans_Screen</name>
        <label>Associate Plans</label>
        <locationX>741</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Quote_Status_to_Needs_Review</targetReference>
        </connector>
        <fields>
            <name>flowstages_Associate_Plans_Screen</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>classplanrateassociationlist_fc</name>
            <extensionName>c:classplanrateassociationlist_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>account</name>
                <value>
                    <elementReference>account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>proposedRates</name>
                <value>
                    <elementReference>proposedRates</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quote</name>
                <value>
                    <elementReference>quote</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedClassPlans</name>
                <value>
                    <elementReference>selectedClassPlans</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>proposedRates</assignToReference>
                <name>proposedRates</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Census_Information_Screen</name>
        <label>Census Information</label>
        <locationX>2217</locationX>
        <locationY>220</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fetch_Eligibility</targetReference>
        </connector>
        <fields>
            <name>flowstages_Census_Information_Screen</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>accountquotecensuslist_fc</name>
            <extensionName>c:accountquotecensuslist_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disableFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quote</name>
                <value>
                    <elementReference>quote</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quotecensus</name>
                <value>
                    <elementReference>quoteCensus</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>quote</assignToReference>
                <name>quote</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>quoteCensus</assignToReference>
                <name>quotecensus</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Claims_Experience_Screen</name>
        <label>Claims Experience</label>
        <locationX>818</locationX>
        <locationY>289</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Stage_to_Six</targetReference>
        </connector>
        <fields>
            <name>flowstages_Claims_Experience_Screen</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>claimshistorylist_fc</name>
            <extensionName>c:claimshistorylist_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>quoteClaimHistory</name>
                <value>
                    <elementReference>quoteRequestClaimHistory</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>medicalClaimSummary</name>
                <value>
                    <elementReference>medicalClaimSummary</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quote</name>
                <value>
                    <elementReference>quote</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rxClaimSummary</name>
                <value>
                    <elementReference>rxClaimSummary</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>quoteRequestClaimHistory</assignToReference>
                <name>quoteClaimHistory</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>medicalClaimSummary</assignToReference>
                <name>medicalClaimSummary</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>quote</assignToReference>
                <name>quote</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>rxClaimSummary</assignToReference>
                <name>rxClaimSummary</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Current_Plan_Information_Screen</name>
        <label>Current Plan Information</label>
        <locationX>202</locationX>
        <locationY>228</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fetch_Proposed_Plans</targetReference>
        </connector>
        <fields>
            <name>flowstages_Current_Plan_Information_Screen</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>competitorplanlist_fc</name>
            <extensionName>c:competitorplanlist_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>account</name>
                <value>
                    <elementReference>account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>competitorPlanInformation</name>
                <value>
                    <elementReference>competitorPlanInformation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quote</name>
                <value>
                    <elementReference>quote</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>account</assignToReference>
                <name>account</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>competitorPlanInformation</assignToReference>
                <name>competitorPlanInformation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>quote</assignToReference>
                <name>quote</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Eligiblity_Information</name>
        <label>Eligiblity Information</label>
        <locationX>1683</locationX>
        <locationY>217</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Stage_to_Five</targetReference>
        </connector>
        <fields>
            <name>flowstages_Eligiblity_Information</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>accounteligibilitydetail_fc</name>
            <extensionName>c:accounteligibilitydetail_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>account</name>
                <value>
                    <elementReference>account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>eligibility</name>
                <value>
                    <elementReference>eligibility</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quote</name>
                <value>
                    <elementReference>quote</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>account</assignToReference>
                <name>account</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>eligibility</assignToReference>
                <name>eligibility</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>quote</assignToReference>
                <name>quote</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>groupinformation_screen</name>
        <label>Group Information</label>
        <locationX>1053</locationX>
        <locationY>75</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Stage_to_Two</targetReference>
        </connector>
        <fields>
            <name>flowstages_groupinformation_screen</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>commercial_account_detail_fc</name>
            <extensionName>c:commercial_account_detail_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>account</name>
                <value>
                    <elementReference>account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isInstall</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quote</name>
                <value>
                    <elementReference>quote</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Account_Contacts</name>
        <label>Select Account Contacts</label>
        <locationX>1656</locationX>
        <locationY>76</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_Team_Information</targetReference>
        </connector>
        <fields>
            <name>flowstages_Select_Account_Contacts</name>
            <extensionName>c:flowstages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>account_contact_list_fc</name>
            <extensionName>c:account_contact_list_fc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>account</name>
                <value>
                    <elementReference>account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryContactId</name>
                <value>
                    <elementReference>primaryContactId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>account</assignToReference>
                <name>account</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>primaryContactId</assignToReference>
                <name>primaryContactId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Census_Information</name>
        <isActive>true</isActive>
        <label>Census Information</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Claims_Experience</name>
        <isActive>true</isActive>
        <label>Claims Experience</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Contact_Information</name>
        <isActive>true</isActive>
        <label>Contact Information</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Current_Plan_Information</name>
        <isActive>true</isActive>
        <label>Current Plan Information</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>Documentation</name>
        <isActive>true</isActive>
        <label>Documentation</label>
        <stageOrder>9</stageOrder>
    </stages>
    <stages>
        <name>Group_Information</name>
        <isActive>true</isActive>
        <label>Group Information</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Proposed_Plan_Information</name>
        <isActive>true</isActive>
        <label>Proposed Plan Information</label>
        <stageOrder>8</stageOrder>
    </stages>
    <start>
        <locationX>110</locationX>
        <locationY>75</locationY>
        <connector>
            <targetReference>Fetch_Quote_Information</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>add_another_plan</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allGroupClasses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group_Class__c</objectType>
    </variables>
    <variables>
        <name>competitorPlanInformation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Competitor_Plan_Information__c</objectType>
    </variables>
    <variables>
        <description>Context Record Id for the Flow</description>
        <name>context_record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>defaultClassList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee_Classes__c</objectType>
    </variables>
    <variables>
        <name>defaultEmployeeClass</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee_Classes__c</objectType>
    </variables>
    <variables>
        <name>eligibility</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Eligibility__c</objectType>
    </variables>
    <variables>
        <name>groupClass</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group_Class__c</objectType>
    </variables>
    <variables>
        <name>medicalClaimSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Request_Claim_Summary__c</objectType>
    </variables>
    <variables>
        <name>newPlanList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Plan__c</objectType>
    </variables>
    <variables>
        <name>newPredefinedPlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Marketing_Plan__c</objectType>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>primaryAgencyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primaryAgentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primaryContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>proposedRates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Proposed_Rate__c</objectType>
    </variables>
    <variables>
        <name>quote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>quoteCensus</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Census__c</objectType>
    </variables>
    <variables>
        <name>quoteRequestClaimHistory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Request_Claim_History__c</objectType>
    </variables>
    <variables>
        <name>rxClaimSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Request_Claim_Summary__c</objectType>
    </variables>
    <variables>
        <name>selectedClassPlans</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Proposed_Plan__c</objectType>
    </variables>
    <variables>
        <name>selectedGroupClasses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group_Class__c</objectType>
    </variables>
</Flow>
